[2020-06-19 19:41] mwes commented on #144
In GitLab by @jakebeal on Oct 29, 2019, 14:30

Thank you, @mweston

[2020-06-19 19:41] mwes commented on #144
In GitLab by @jakebeal on Oct 29, 2019, 14:30

closed

[2020-06-19 19:41] mwes commented on #144
In GitLab by @jakebeal on Oct 29, 2019, 14:30

closed

[2020-06-19 19:41] #144 closed

[2020-06-19 19:41] mwes opened #145 "Expose Experiment Design creation to external callers"
In GitLab by @mweston on Oct 28, 2019, 17:18

Motivated by: https://gitlab.sd2e.org/sd2program/experimental-intent-parser/issues/143

We want to provide external callers with a way to sync experiment designs

One idea: call into a reactor that can manage this?

[2020-06-19 19:41] mwes commented on #145
In GitLab by @mweston on Nov 19, 2019, 13:44

We currently take care of this from a Jenkins job that runs every hour. It's been running successfully since October 28th. 16 requests have been created successfully since then, and we haven't run into any problems. Adding an explicit hook here is likely not worth the squeeze given the rate at which requests are created.

[2020-06-19 19:41] mwes commented on #145
In GitLab by @jakebeal on Nov 19, 2019, 13:56

Given this and the recent comment on #150, I think we're likely OK to close this one then.

[2020-06-19 19:41] mwes commented on #145
In GitLab by @jakebeal on Nov 19, 2019, 13:56

closed

[2020-06-19 19:41] #145 closed

[2020-06-19 19:41] mwes opened #146 "Reagent column should be able to be anywhere"
In GitLab by @jakebeal on Oct 30, 2019, 10:33

Right now, the reagents have to be on the left, but they should be able to be anywhere.

This can be handled by having anything that doesn't match a keyword be treated as a reagent.

[2020-06-19 19:42] mwes commented on #146
In GitLab by @mweston on Oct 30, 2019, 17:45

Ah! This is breaking generation (no contents/reagents parsed or provided) for the following requests:

https://docs.google.com/document/d/1WOa8crKEpJX0ZFJv4NtMjVaI-35__sdEMc5aPxb1a
https://docs.google.com/document/d/16eroq4UtIPhP89_PiKnvfi4wxV52vdKtUwPmBBu6OMc

Can this be documented for experiment requests authors so they know what to do until this is

[2020-06-19 19:42] mwes commented on #146
In GitLab by @jakebeal on Oct 30, 2019, 17:52

I announced it in one of the channels, but will announce it again in both.

[2020-06-19 19:42] mwes commented on #146
In GitLab by @jakebeal on Nov 11, 2019, 10:20

assigned to @tramyn

[2020-06-19 19:42] mwes commented on #146
In GitLab by @tramyn on Nov 20, 2019, 10:09

@mweston: On my end, I can see that when I move reagent columns to other columns that are not on the left most side of a measurement table, this will break the parser when calling Validate structured request.
Breaking in this instance, refers to the following error that is displayed when calling `Validate structured request`:
[code]
However, calling `Ge

[2020-06-19 19:42] mwes commented on #146
In GitLab by @jakebeal on Nov 20, 2019, 10:31

@tramyn I believe that generate doesn't show errors, but also fails to include the reagents correctly.

[2020-06-19 19:42] mwes commented on #146
In GitLab by @mweston on Nov 20, 2019, 11:17

@tramyn generate looks like it doesn't do validation, so it's able to generate an invalid request. We should probably address this by doing validation after generating, but that's a separate issue.

The error you're seeing is coming from an empty contents array, which the schema does not like (if a contents list is defined, it must have at least 1 elem

[2020-06-19 19:42] mwes commented on #146
In GitLab by @tramyn on Nov 25, 2019, 11:30

created branch [`145-reagent-column-should-be-able-to-be-anywhere`](/sd2program/experimental-intent-parser/compare/develop...145-reagent-column-should-be-able-to-be-anywhere) to address this issue

[2020-06-19 19:42] mwes commented on #146
In GitLab by @tramyn on Dec 16, 2019, 10:26

created merge request !82 to address this issue

[2020-06-19 19:42] mwes commented on #146
In GitLab by @tramyn on Dec 16, 2019, 10:26

mentioned in merge request !82

[2020-06-19 19:42] mwes commented on #146
In GitLab by @tramyn on Dec 16, 2019, 10:49

mentioned in merge request !84

[2020-06-19 19:42] mwes commented on #146
In GitLab by @nwalczak on Dec 16, 2019, 10:49

closed via merge request !84

[2020-06-19 19:42] #146 closed

[2020-06-19 19:42] mwes opened #147 "Catalog failure errors are obscure"
In GitLab by @jakebeal on Oct 30, 2019, 10:35

This appears to be an error from the document not being in the catalog:

However, there is nothing there that would lead one to understand that the problem is that the document is not listed correctly in the catalog. This error message thus needs to be improved.

[2020-06-19 19:42] mwes commented on #147
In GitLab by @jakebeal on Nov 11, 2019, 10:19

assigned to @tramyn

[2020-06-19 19:42] mwes commented on #147
In GitLab by @tramyn on Nov 20, 2019, 10:15

@jakebeal could you provide me an example that will replicate this issue? I am unsure how to reproduce this bug.

[2020-06-19 19:42] mwes commented on #147
In GitLab by @jakebeal on Nov 20, 2019, 10:36

Here's one: https://docs.google.com/document/d/1Qsw2JBfF75gOyWpbSrlC9SuHYBiV8f-lK_5pF1I3rww/edit?usp=sharing

[2020-06-19 19:42] mwes commented on #147
In GitLab by @tramyn on Nov 25, 2019, 11:33

created branch [`146-catalog-failure-errors-are-obscure`](/sd2program/experimental-intent-parser/compare/develop...146-catalog-failure-errors-are-obscure) to address this issue

[2020-06-19 19:42] mwes commented on #147
In GitLab by @mweston on Nov 25, 2019, 14:16

The above file is failing because the file is not in a directory which automatically provides its Challenge Problem enumeration (YeastStates, Novel Chassis, etc.). The generation defaults to "Unknown" which is not a valid challenge problem, so it correctly fails validation. For this particular instance of a validation error (there can be many others),

[2020-06-19 19:42] mwes commented on #147
In GitLab by @jakebeal on Dec 9, 2019, 10:47

Problem: the JSON schema validator is giving a unified message, and pulling the information out may be complicated. Thus, pushing this back to 2.5 in order to prioritize parameter tables.

[2020-06-19 19:42] mwes commented on #147
In GitLab by @jakebeal on Dec 9, 2019, 10:48

https://python-jsonschema.readthedocs.io/en/stable/errors/#jsonschema.exceptions.ValidationError

[2020-06-19 19:42] mwes opened #148 "Cataloging appears to fail for name changes"
In GitLab by @jakebeal on Oct 30, 2019, 10:39

The experiment request ["YeastSTATES CRISPR Growth Curves Request"](https://docs.google.com/document/d/1uv_X7CSD5cONEjW7yq4ecI89XQxPQuG5lnmaqshj47o/edit?usp=sharing) appears to have been originally cataloged with a typo in its name:

If this is indeed the case, then when the typo was corrected, the catalog failed to update the name, which is causing t

[2020-06-19 19:43] mwes commented on #148
In GitLab by @mweston on Oct 30, 2019, 14:05

Ah - this is a little different. I believe the updated experiment references are not making it into the schema for validation purposes:

https://schema.catalog.sd2e.org/schemas/experiment_reference.json

I've updated this for now, but will need to factor this into the Jenkins syncing process:
1) Regen schemas
2) Commit diffs
3) Push to gh-pages branch

[2020-06-19 19:43] mwes commented on #148
In GitLab by @mweston on Oct 30, 2019, 14:21

Looking into this, there is also likely an issue with the name _submitted_ for validation - e.g. it's using the old name still.

[2020-06-19 19:43] mwes commented on #148
In GitLab by @jakebeal on Oct 30, 2019, 14:21

Whatever you did has in fact let things move forward to the next validation failure, at least, which seems to be a different issue.

[2020-06-19 19:43] mwes commented on #148
In GitLab by @mweston on Oct 30, 2019, 16:25

Yes - I updated the schema references to account for the latest submitted requests. The 1-4 listed is to automate this process so it's no longer manual.

Still looking into the "old name" submission issue.

[2020-06-19 19:43] mwes commented on #148
In GitLab by @mweston on Nov 11, 2019, 11:15

https://gitlab.sd2e.org/sd2program/python-datacatalog/merge_requests/190 addresses an underlying issue with document renames creating duplicate experiment designs

[2020-06-19 19:43] mwes commented on #148
In GitLab by @jakebeal on Nov 11, 2019, 11:53

Does this mean this issue is now resolved, or not yet?

[2020-06-19 19:43] mwes commented on #148
In GitLab by @mweston on Nov 11, 2019, 13:09

@jakebeal once that MR is merged, this will prevent duplicate designs from being created, which will help.

We'll still need implement an automated process to sync the experiment request names. All of the current requests are accounted for; this will be to future-proof against future requests.

[2020-06-19 19:43] mwes commented on #148
In GitLab by @mweston on Nov 12, 2019, 15:58

@jakebeal the above MR has been merged, preventing duplicate experiment designs, and I've added an automated sync for the experiment reference names to  the existing Jenkins job. This issue should be fully resolved at this point. You should not see any further issues here. If so, please re-open. Thanks!

[2020-06-19 19:43] mwes commented on #148
In GitLab by @mweston on Nov 12, 2019, 15:58

closed

[2020-06-19 19:43] #148 closed

[2020-06-19 19:43] mwes opened #149 "Numerical lab UIDs should not fuzzy-match"
In GitLab by @jakebeal on Oct 30, 2019, 10:45

Lab UIDs are using the same fuzzy-match as SynBioHub names right now.  This is a problem for numerical UIDs, because 47581 and 47580 typically have nothing to do with one another.

[2020-06-19 19:43] mwes commented on #149
In GitLab by @jakebeal on Nov 11, 2019, 10:22

assigned to @tramyn

[2020-06-19 19:43] mwes opened #150 "Synbio hub searches are timing out on production server"
In GitLab by @nwalczak on Oct 31, 2019, 11:55

If analyze or add to synbiohub are used then the SBH queries never resolve and instead the "Generating List..." message stays up forever.

If I run the web console in Firefox, I eventually see this message:

`Error: Timeout: http://intentparser.sd2e.org/searchSynBioHub`

This means that the `URLFetch` timeout is being hit before the SBH query returns.

[2020-06-19 19:43] mwes commented on #150
In GitLab by @jakebeal on Oct 31, 2019, 11:59

assigned to @nwalczak

[2020-06-19 19:43] mwes commented on #150
In GitLab by @jakebeal on Oct 31, 2019, 12:00

Can you please engage TACC and get their help to sort this out?  This is a critical failure.

[2020-06-19 19:43] mwes commented on #150
In GitLab by @nwalczak on Oct 31, 2019, 16:33

Nothing definitive yet, but things are pointing towards this being an issue with something on TACC's side.  If I run the exact some Docker container on my laptop, I don't encounter these issues.

[2020-06-19 19:43] mwes commented on #150
In GitLab by @jakebeal on Oct 31, 2019, 22:54

Please get TACC involved ASAP, then. This is a critical time for adoption, and I don't want TACC's infrastructure problems to cause the CPs to start working around intent parser.

[2020-06-19 19:43] mwes commented on #150
In GitLab by @nwalczak on Nov 4, 2019, 11:51

I saw a message on Slack about how, over the weekend, the production server seemed to crash.  I checked on it and I saw that inbound connections were being made, but no responses were ever going out: if I made an analyze request I would see the connection, but it never finished scanning the document.

I restarted the container and it seems to have reso

[2020-06-19 19:43] mwes commented on #150
In GitLab by @nwalczak on Nov 4, 2019, 11:55

FYI, the uptime on the container before I reset it was 12 days.

[2020-06-19 19:43] mwes commented on #150
In GitLab by @nwalczak on Nov 18, 2019, 15:06

closed

[2020-06-19 19:43] #150 closed

[2020-06-19 19:44] mwes opened #151 "Need to generate meaningful experiment_id for the structured request"
In GitLab by @gzheng on Nov 1, 2019, 15:46

The intent parser currently outputs `experiment.tacc.TBD` as a placeholder for `experiment_id`, which needs to be overwritten manually every time after it has been used to generate an SR. This is tedious. Instead, the IP should derive the id from the content in the ER, using `experiment.<lab>.<datestamp>-<experiment-reference>`, with `datestamp` probably

[2020-06-19 19:44] mwes commented on #151
In GitLab by @gzheng on Nov 1, 2019, 15:51

changed the description

[2020-06-19 19:44] mwes commented on #151
In GitLab by @jakebeal on Nov 4, 2019, 09:55

Where should we get `experiment-reference`?

[2020-06-19 19:44] mwes commented on #151
In GitLab by @gzheng on Nov 4, 2019, 16:45

The generated structured request already has `experiment-reference`.

[2020-06-19 19:44] mwes commented on #151
In GitLab by @jakebeal on Nov 5, 2019, 07:47

Right, but isn't that one of the things we're getting out of the database?

[2020-06-19 19:44] mwes commented on #151
In GitLab by @gzheng on Nov 5, 2019, 08:24

We as the `Intent Parser` (IP) or the `Control Annotator` that uses the structured request (SR) that the IP generates?  Since the SR from IP already contains the correct `experiment_reference`, the IP should take advantage of this information in making the `experiment_id` meaningful (instead of using `experiment.tacc.TBD` as a placeholder) and to enable

[2020-06-19 19:44] mwes commented on #151
In GitLab by @jakebeal on Nov 5, 2019, 08:34

Maybe we are talking about different things? I thought you were addressing how to get around the requirement for a document to be registered in the catalog.  Are you assuming the document is already registered?

[2020-06-19 19:44] mwes commented on #151
In GitLab by @gzheng on Nov 5, 2019, 09:46

Actually both. The experiment_id needs to be correct the first time an SR is registered in the catalog. This allows subsequent updates to be performed on the same SR after changes are made to the source ER, which is then converted to an updated SR.  The current manual overwrite of the experiment_id is necessary before the correct id can be produced by th

[2020-06-19 19:44] mwes commented on #151
In GitLab by @mweston on Nov 19, 2019, 13:38

This is no longer necessary to be done on the IP side IMO - we take care of this when syncing through the IP against the REST API. We'll either find an existing SR (and update it), or will generate a new one against the current timestamp. We don't need/use the placeholder experiment_id from the IP.

See:
https://gitlab.sd2e.org/sd2program/cp-request/me

[2020-06-19 19:44] mwes commented on #151
In GitLab by @mweston on Nov 25, 2019, 14:16

Per the comment above I'm going to close this.

[2020-06-19 19:44] mwes commented on #151
In GitLab by @mweston on Nov 25, 2019, 14:16

closed

[2020-06-19 19:44] #151 closed

[2020-06-19 19:44] mwes opened #152 "contents array generated by the Intent Parser contains an extra level"
In GitLab by @gzheng on Nov 4, 2019, 20:26

Contents array in the structured request generated by the IP contains an extra level.  Here is an example:

               "contents":[
                  [
                     {
                        "name":{
                           "label":"Media",
                           "sbh_uri":"NO PROGRAM DICTIONARY ENTRY"
                        },

[2020-06-19 19:44] mwes commented on #152
In GitLab by @gzheng on Nov 4, 2019, 20:29

changed the description

[2020-06-19 19:44] mwes commented on #152
In GitLab by @mweston on Nov 4, 2019, 22:36

@gzheng I actually don't think this is an issue - contents is an array of arrays, with each array element representing an enumerated value (in this case a grouping of media)

[2020-06-19 19:44] mwes commented on #152
In GitLab by @gzheng on Nov 5, 2019, 07:29

Ah, yes this is true according to the schema.  I'll go ahead and close the ticket.

[2020-06-19 19:44] mwes commented on #152
In GitLab by @gzheng on Nov 5, 2019, 07:29

closed

[2020-06-19 19:44] #152 closed

[2020-06-19 19:44] mwes opened #153 "challenge_problem is hard coded as YEAST_STATES"
In GitLab by @gzheng on Nov 4, 2019, 20:33

The `challenge_problem` in the structured request generated by the IP is currently hard coded as `YEAST_STATES`.  Instead, the IP should derive this from the title of the experiment request.

[2020-06-19 19:44] mwes commented on #153
In GitLab by @mweston on Nov 4, 2019, 22:37

@gzheng I don't think this is correct as stated - YEAST_STATES is the correct challenge problem (see: https://schema.catalog.sd2e.org/schemas/challenge_problem_id.json)

This is derived from the parent folder the experiment request lives in (in this case, YeastStates). Deriving from the title is would be risky and inconsistent.

[2020-06-19 19:45] mwes commented on #153
In GitLab by @gzheng on Nov 5, 2019, 07:38

Ok, I see the parent folder. I will close the ticket and ask Dan to change his in Xplan request.

[2020-06-19 19:45] mwes commented on #153
In GitLab by @gzheng on Nov 5, 2019, 07:38

closed

[2020-06-19 19:45] #153 closed

[2020-06-19 19:45] mwes opened #154 "Clean up menu names and organization"
In GitLab by @jakebeal on Nov 6, 2019, 12:54

The intent parser menu mixes together the different features and has names that don't clearly distinguish which feature you're using.  We should clean this up.

[2020-06-19 19:45] mwes opened #155 "Need to add support to label measurement in ER for xplan_condition_space"
In GitLab by @gzheng on Nov 6, 2019, 14:53

We need a way to specify the condition space for Xplan inside the experiment request (ER) and have decided to use a special measurement inside the table within the ER to achieve this.  For example, see the third row in https://docs.google.com/document/d/1uv_X7CSD5cONEjW7yq4ecI89XQxPQuG5lnmaqshj47o/edit?pli=1#.  However, there is currently no mechanism to

[2020-06-19 19:45] mwes commented on #155
In GitLab by @jakebeal on Nov 6, 2019, 15:13

Why not do this as a measurement type instead? This kludge is mixing information-types in a way that I have concerns may bite us down the road.

[2020-06-19 19:45] mwes commented on #155
In GitLab by @mweston on Nov 6, 2019, 15:19

@dbryce Will the condition space definition ever need to define a measurement type? What Jake is proposing would be to add an extension to that controlled enumeration (e.g. "CONDITION_SPACE") and use that to control how we parse and populate the xplan request. That could work, provided we don't need to interpret the measurement_type here.

[2020-06-19 19:45] mwes commented on #155
In GitLab by @gzheng on Nov 6, 2019, 15:37

I know Jake originally didn't like this: https://sd2e.slack.com/archives/GP34M2C02/p1572979882061000. Waiting for the decision here.

[2020-06-19 19:45] mwes commented on #155
In GitLab by @jakebeal on Nov 8, 2019, 09:41

Recommended approach: option inclusion of "(domain [values])" in cells and allowing values to include ranges. This would move "domain" from a separate structure to an optional value in each factor in a structured request. Need to confirm with @dbryce

[2020-06-19 19:45] mwes commented on #155
In GitLab by @dbryce on Nov 11, 2019, 13:33

Jake and I spoke today and came to the following resolution.  Each cell will have two types of values: sample values and condition space domain.  The combinations of these being present or not will have the following semantics:

1. No Sample values, No condition space domain:

This column (factor) is not relevant to the samples specified by this row.  T

[2020-06-19 19:45] mwes commented on #155
In GitLab by @mweston on Jan 28, 2020, 17:42

This is likely overcome by events - we've been supporting this since November with a `CONDITION_SPACE` measurement type.

[2020-06-19 19:45] mwes commented on #155
In GitLab by @jakebeal on Jan 29, 2020, 13:59

closed

[2020-06-19 19:45] #155 closed

[2020-06-19 19:45] mwes opened #156 "Build error from running CI/CD Pipeline"
In GitLab by @tramyn on Nov 8, 2019, 15:11

This repository will report a build failure if new commits are made. There is a .yml file in the repository that will build the project every time a commit is made. This project, however is set up on a Jenkins server so the .yml file is not needed and should be removed from this repository to prevent future build errors from occurring.

[2020-06-19 19:45] mwes commented on #156
In GitLab by @tramyn on Nov 8, 2019, 15:12

created branch [`155-build-error-from-running-ci-cd-pipeline`](/sd2program/experimental-intent-parser/compare/develop...155-build-error-from-running-ci-cd-pipeline) to address this issue

[2020-06-19 19:45] mwes commented on #156
In GitLab by @tramyn on Nov 8, 2019, 15:16

mentioned in merge request !75

[2020-06-19 19:45] mwes commented on #156
In GitLab by @nwalczak on Nov 18, 2019, 14:51

closed via merge request !75

[2020-06-19 19:45] mwes commented on #156
In GitLab by @nwalczak on Nov 18, 2019, 14:51

mentioned in commit febd66a1517dff6970d92d6ffdea075c8dad89a7

[2020-06-19 19:45] #156 closed

[2020-06-19 19:45] mwes opened #157 "Allow ranges and log-ranges in numerical specification"
In GitLab by @jakebeal on Nov 11, 2019, 08:04

In order to support XPlan condition spaces with continuous ranges (e.g., all temperatures from 0-100 C), we need to allow ranges in the specification of values.  This would be a format of "N-N" for a number, and will need to connect to an alternative format for "value" in the JSON output.

Effective exploration of such a range also needs to know what

[2020-06-19 19:45] mwes commented on #157
In GitLab by @jakebeal on Nov 11, 2019, 08:09

changed the description

[2020-06-19 19:46] mwes commented on #157
In GitLab by @mweston on Jan 28, 2020, 17:42

Is this still needed? Need to discuss with @dbryce

[2020-06-19 19:46] mwes opened #158 "Allow optional specification of a (superset) domain for values"
In GitLab by @jakebeal on Nov 11, 2019, 08:07

When XPlan wants to plan in a condition-space, it needs to know the full domain of acceptable values, not just the ones being suggested by a user as defaults / starting points.  We should support this by allowing an optional "domain" specification in reagents. This will also interact with #156.

Example: "0.1, 0.2, 0.5 1.0 mM (domain 0, 0.01-5 [log] m

[2020-06-19 19:46] mwes opened #159 "Make spaces optional for units"
In GitLab by @jakebeal on Nov 13, 2019, 08:03

@meslami writes

[2020-06-19 19:46] mwes commented on #159
In GitLab by @tramyn on Feb 17, 2020, 09:58

@jakebeal This issue has been addressed in 2.3.2post. There are unit tests in 2.4.2pre release that will test this issue.

[2020-06-19 19:46] mwes commented on #159
In GitLab by @jakebeal on Feb 17, 2020, 10:12

closed

[2020-06-19 19:46] #159 closed

[2020-06-19 19:46] mwes opened #160 "Parameters table"
In GitLab by @jakebeal on Nov 19, 2019, 07:29

We need to be able to find and parse a supplementary "parameters table" that is being used to collect non-variable elements of an experiment.

@mweston , can you please:
1. Add a link to one of the documents where you added such a table,
2. Say whether you want this going into the structure request JSON or a different export, then
3. Transfer assignme

[2020-06-19 19:46] mwes commented on #160
In GitLab by @mweston on Nov 19, 2019, 13:28

Hi @jakebeal @tramyn

Here are two examples:

YS Growth Curve: https://docs.google.com/document/d/1IlR2-ufP_vVfHt15uYocExhyQfEkPnOljYf3Y-rB08g/
YS Dose Response: https://docs.google.com/document/d/1WOa8crKEpJX0ZFJv4NtMjVaI-35__sdEMc5aPxb1al4/

See the table that begins with "Default Parameters". The first key is: Inoculation volume.

Note that these ar

[2020-06-19 19:46] mwes commented on #160
In GitLab by @mweston on Nov 19, 2019, 13:28

assigned to @tramyn and unassigned @mweston

[2020-06-19 19:46] mwes commented on #160
In GitLab by @tramyn on Dec 9, 2019, 17:39

@mweston There are three questions that I will need clarification on.

1. Will the intent parser generate a `conditional_space` field in the structural request with `parameters` as the nested property? For example, is this what you would expect to get when calling `Generate Structured Request`?

[code]

2. You have provided [L120](https://gitlab.sd2e.org

[2020-06-19 19:46] mwes commented on #160
In GitLab by @mweston on Dec 9, 2019, 18:26

@tramyn great questions. Let me know if you would like to have a call to clarify or discuss any of the below.

RE: 1) Thinking about this going forward, each experiment request will eventually be able to contain one or more of the tuple of (parameters, condition_space, measurements). The condition space we are currently handling as a special row in the

[2020-06-19 19:46] mwes commented on #160
In GitLab by @mweston on Dec 9, 2019, 18:35

Also, Dan and Josh move really fast. Some of the above has drifted since I last posted a few weeks ago. Here are the two latest parameter structures we need to support. You may need to do some reverse dictionary lookups to find the friendly names (or add an entry to the dictionary if one doesn't exist).

This is coming from: https://gitlab.sd2e.org/sd2p

[2020-06-19 19:46] mwes commented on #160
In GitLab by @tramyn on Dec 13, 2019, 09:40

created branch [`159-parameters-table`](/sd2program/experimental-intent-parser/compare/develop...159-parameters-table) to address this issue

[2020-06-19 19:46] mwes commented on #160
In GitLab by @mweston on Jan 28, 2020, 17:50

@jakebeal @tramyn per our conversation yesterday, per the above, the previous comments are still accurate. The general approach still follows:

1) Find the parameters table
2) Converting over SD2 friendly parameter names to Strateos-specific names using the dictionary
3) Mapping over the values provided in the table for each parameter as-is

Recovery i

[2020-06-19 19:46] mwes commented on #160
In GitLab by @tramyn on Jan 31, 2020, 10:26

@mweston , @dbryce :
Is there a pattern that I will need to know when generating strateos dictionary values with a specific type?
Right now, I have the following list of parameter fields mapped to a boolean value:

[code]

`plate_reader_info.gain` is the only term that I have mapped to a float.
The remaining strateos terms are set to string.

[2020-06-19 19:46] mwes commented on #160
In GitLab by @mweston on Jan 31, 2020, 10:53

This should come from Strateos' schema. @dbryce can you provide that? I'll put it on the SD2 schema repo so it's queryable.

[2020-06-19 19:46] mwes commented on #160
In GitLab by @tramyn on Feb 20, 2020, 16:29

@mweston There are missing terms used in [test_srr_xplan.py](https://gitlab.sd2e.org/sd2program/round-trip/blob/sr-integration/test/integration/test_srr_xplan.py) that will need to be supported in the SD2 Program Dictionary spreadsheet.

For test function `test_get_dose_response_long_duration_xplan_message()`:

- `recovery_info.inc_time_2`
- should `ind

[2020-06-19 19:46] mwes commented on #160
In GitLab by @tramyn on Feb 25, 2020, 13:04

mentioned in merge request !96

[2020-06-19 19:46] mwes commented on #160
In GitLab by @tramyn on Feb 27, 2020, 11:41

closed via merge request !96

[2020-06-19 19:46] mwes commented on #160
In GitLab by @tramyn on Feb 27, 2020, 11:41

mentioned in commit 5c93bee9637aae7e669df58db02784fa6c4ff39a

[2020-06-19 19:47] mwes commented on #160
In GitLab by @tramyn on Feb 27, 2020, 21:54

mentioned in merge request !97

[2020-06-19 19:47] mwes commented on #160
In GitLab by @tramyn on Feb 27, 2020, 22:15

mentioned in merge request !98

[2020-06-19 19:47] mwes commented on #160
In GitLab by @tramyn on Feb 27, 2020, 22:38

mentioned in commit 123ccdcb19beb7fa706993132d4dddec8a57dd63

[2020-06-19 19:47] #160 closed

[2020-06-19 19:47] mwes opened #161 "Need to remove empty contents list in structured request from IP that breaks validation"
In GitLab by @gzheng on Nov 19, 2019, 13:44

A couple of rows in the dose response ER (https://docs.google.com/document/d/1WOa8crKEpJX0ZFJv4NtMjVaI-35__sdEMc5aPxb1al4/edit?pli=1#) have empty list of media, this causes the intent parser to generate a structured request that contains empty contents list, which subsequently breaks schema validation.  The intent parser in this case should instead not

[2020-06-19 19:47] mwes commented on #161
In GitLab by @jakebeal on Nov 25, 2019, 14:21

Clarification from @mweston -- this isn't actually about media, but about reagents in general. In this particular case, the blank fields are in the `beta_estradiol` column.

[2020-06-19 19:47] mwes commented on #161
In GitLab by @jakebeal on Nov 25, 2019, 14:23

assigned to @tramyn

[2020-06-19 19:47] mwes commented on #161
In GitLab by @tramyn on Dec 5, 2019, 16:56

experimental-intent-parser will generate an empty `content` list in the structured request document for rows categorized under the reagent column. @gzheng is requesting that the list should be removed from the structured request when there are cells under the reagent column is empty. I've attached a screenshot of a structured request that I got from the

[2020-06-19 19:47] mwes commented on #161
In GitLab by @mweston on Dec 5, 2019, 21:40

@tramyn yes, that's right!

[2020-06-19 19:47] mwes commented on #161
In GitLab by @tramyn on Dec 6, 2019, 10:21

created branch [`160-need-to-remove-empty-contents-list-in-structured-request-from-ip-that-breaks-validation`](/sd2program/experimental-intent-parser/compare/develop...160-need-to-remove-empty-contents-list-in-structured-request-from-ip-that-breaks-validation) to address this issue

[2020-06-19 19:47] mwes commented on #161
In GitLab by @jakebeal on Dec 13, 2019, 12:18

mentioned in merge request cp-request!183

[2020-06-19 19:47] mwes commented on #161
In GitLab by @mweston on Dec 13, 2019, 12:42

@tramyn it would be helpful when this is addressed for it not to change how strains are handled (or really anything else, if possible). The scope of this issue is very specific: generating an empty contents array, which violates this specific schema clause:

https://gitlab.sd2e.org/sd2program/cp-request/blob/master/schemas/measurement-request-schema.js

[2020-06-19 19:47] mwes commented on #161
In GitLab by @tramyn on Dec 16, 2019, 10:26

mentioned in merge request !81

[2020-06-19 19:47] mwes commented on #161
In GitLab by @tramyn on Dec 16, 2019, 10:26

created merge request !81 to address this issue

[2020-06-19 19:47] mwes commented on #161
In GitLab by @tramyn on Dec 16, 2019, 10:36

mentioned in merge request !83

[2020-06-19 19:47] mwes commented on #161
In GitLab by @nwalczak on Dec 16, 2019, 10:49

closed via merge request !83

[2020-06-19 19:47] mwes commented on #161
In GitLab by @nwalczak on Dec 16, 2019, 10:49

mentioned in commit 0b9a238477fa9205b8d173f718123799f772a8d8

[2020-06-19 19:47] #161 closed

[2020-06-19 19:47] mwes opened #162 "Use Alternate names from SynBioHub / dictionary"
In GitLab by @jakebeal on Dec 4, 2019, 16:25

Now that we support alternate names, we should make sure that the intent parser is able to use them to match when linking terms.  This needs to be implemented for all of the different ways to link terms.

Example: "Salt" should match for NaCl (https://hub.sd2e.org/user/sd2e/design/teknova_M1902_NaCl/1)

[2020-06-19 19:47] mwes opened #163 "Generalize away from SD2 usage"
In GitLab by @jakebeal on Dec 9, 2019, 10:06

Right now, the intent parser has a lot of kludges built in that assume the particular workflow and infrastructure that we're using in SD2. At some point we'll need to expand beyond that.

[2020-06-19 19:48] mwes opened #164 "Validation error on NC experiment requests"
In GitLab by @mweston on Dec 13, 2019, 15:20

Two Novel Chassis experiment requests are failing validation:

https://docs.google.com/document/d/1oIBd-a_n8pGNtoM9zYkWjhlsG04B2lmfYKhlLSAkRFw/
https://docs.google.com/document/d/1h_VBtGgUa4pFrR5pTksogFpzSMuE6cyRRjJmFuJpKSk/

The error has to do with "unspecified" being passed through as a unit for only _some_ of the media entries. "S750" does not rece

[2020-06-19 19:48] mwes commented on #164
In GitLab by @mweston on Dec 13, 2019, 15:21

changed the description

[2020-06-19 19:48] mwes commented on #164
In GitLab by @mweston on Dec 13, 2019, 15:22

changed the description

[2020-06-19 19:48] mwes commented on #164
In GitLab by @jakebeal on Dec 13, 2019, 16:13

It looks like there's also a space in front of the media name, which is odd as well...

[2020-06-19 19:48] mwes commented on #164
In GitLab by @mweston on Dec 13, 2019, 16:15

Sure - confirm that's an issue - that would be good to fix, too.

[2020-06-19 19:48] mwes commented on #164
In GitLab by @jakebeal on Jan 29, 2020, 13:43

assigned to @tramyn

[2020-06-19 19:48] mwes commented on #164
In GitLab by @jakebeal on Jan 29, 2020, 13:43

closed

[2020-06-19 19:48] #164 closed

[2020-06-19 19:48] mwes opened #165 "Fix Dialog Dimension to fix #136"
In GitLab by @tramyn on Dec 16, 2019, 11:16

File Issue menu item isn't big enough to display entire message. The link to report issues is missing in the dialog view.

[2020-06-19 19:48] mwes commented on #165
In GitLab by @tramyn on Dec 16, 2019, 11:20

created merge request !87 to address this issue

[2020-06-19 19:48] mwes commented on #165
In GitLab by @tramyn on Dec 16, 2019, 11:20

mentioned in merge request !87

[2020-06-19 19:48] mwes commented on #165
In GitLab by @tramyn on Dec 16, 2019, 11:31

closed via merge request !87

[2020-06-19 19:48] mwes commented on #165
In GitLab by @tramyn on Dec 16, 2019, 11:31

mentioned in commit 76f292f4c3c8b7ace79eee4d42b5b850d9061ded

[2020-06-19 19:48] #165 closed

[2020-06-19 19:48] mwes opened #166 "Regression of Media reagent parsing"
In GitLab by @nwalczak on Dec 17, 2019, 16:32

We supported Media as a special Reagent column in the past.  This was reported as #126.  In commit 21228456d38a8698c000a7662c7015130bce3122, fixing #145, we introduced a regression that needs to be fixed.

[2020-06-19 19:48] mwes commented on #166
In GitLab by @tramyn on Dec 17, 2019, 20:51

mentioned in merge request !88

[2020-06-19 19:48] mwes commented on #166
In GitLab by @tramyn on Dec 17, 2019, 20:51

created merge request !88 to address this issue

[2020-06-19 19:48] mwes commented on #166
In GitLab by @tramyn on Jan 20, 2020, 11:28

closed via merge request !88

[2020-06-19 19:48] mwes commented on #166
In GitLab by @tramyn on Jan 20, 2020, 11:28

mentioned in commit 01b76eb35ff2c7aa67ac9bc88daa3bd0b92d6515

[2020-06-19 19:48] #166 closed

[2020-06-19 19:49] mwes opened #167 "Intent parser is parsing out a string column value as a value + unit"
In GitLab by @mweston on Jan 14, 2020, 17:31

Example request for context: https://docs.google.com/document/d/1v5UHLS4qvVovMK8GP9MgoboiPGsg_YzgyE9H4E5DTHg

(please feel free to read/review, but do not modify this request to test this issue)

The first column is linked to the SBH Media term: https://hub.sd2e.org/user/sd2e/design/Media/1

The values in that column *used to be* "SC Media". This was p

[2020-06-19 19:49] mwes commented on #167
In GitLab by @mweston on Jan 14, 2020, 17:31

changed the description

[2020-06-19 19:49] mwes commented on #167
In GitLab by @mweston on Jan 14, 2020, 17:32

changed the description

[2020-06-19 19:49] mwes commented on #167
In GitLab by @mweston on Jan 14, 2020, 17:32

changed the description

[2020-06-19 19:49] mwes commented on #167
In GitLab by @jakebeal on Jan 29, 2020, 13:41

closed

[2020-06-19 19:49] #167 closed

[2020-06-19 19:49] mwes opened #168 "Feature request: top level experiment id attribute for Ginkgo requests"
In GitLab by @mweston on Jan 15, 2020, 12:00

Request to include a top level string attribute that maps to "experiment_id" in the structured request.

This would be used for Ginkgo, who is still using a manual process. After the request is accepted by Ginkgo at some point they will choose and prep an experiment id within their system.

The structured request should be given this id, so we can auto

[2020-06-19 19:49] mwes commented on #168
In GitLab by @mweston on Jan 15, 2020, 12:03

changed the description

[2020-06-19 19:49] mwes commented on #168
In GitLab by @jakebeal on Apr 20, 2020, 09:20

assigned to @tramyn

[2020-06-19 19:49] mwes commented on #168
In GitLab by @jakebeal on Apr 20, 2020, 09:20

Can this be handled by the parameter tables, or does it need some special case?

[2020-06-19 19:49] mwes commented on #168
In GitLab by @mweston on Apr 20, 2020, 09:30

To clarify - no this is not a Strateos protocol parameter (which is what the parameter tables are for). This is a replacement of the `experiment_id` field value that the intent parser generates. It will change from the placeholder value that is currently generated, "experiment.tacc.tbd" to an actual experiment_id value.

[2020-06-19 19:49] mwes commented on #168
In GitLab by @tramyn on Apr 26, 2020, 22:36

mentioned in merge request !106

[2020-06-19 19:49] mwes commented on #168
In GitLab by @tramyn on Apr 26, 2020, 22:36

created merge request !106 to address this issue

[2020-06-19 19:49] mwes commented on #168
In GitLab by @tramyn on May 6, 2020, 13:57

@mweston : A couple of questions here:
- Who or where can I get programmatic access to obtain the `experiment_id`?
- When does this `experiment_id` get generated?
- You mention that Gingko has someone go into the cp-request repo to manually insert this value. Will it makes sense to have a user supply this information on a ER Doc, have this information st

[2020-06-19 19:49] mwes commented on #168
In GitLab by @mweston on May 6, 2020, 14:08

@tramyn, good questions. I'll try and clarify:

- The `experiment_id` will be filled in by a user in the ER. It is generated between when the request is completed, and when the experiment is actually run at Ginkgo.
- We should support the ability to generate in the absence of an `experiment_id` value if one is not provided. You can use the existing plac

[2020-06-19 19:49] mwes commented on #168
In GitLab by @tramyn on May 12, 2020, 18:10

@mweston, I talked to Jake about this issue and the approach is to include a row under the lab table to include an `experiment_id` field. A prototype of this feature is shown [here](https://docs.google.com/document/d/1hNwJiaFr2QVb8gpwIUHxh7ORRVDWxM9G_Tsm2LDVwI4/edit#).

Following this approach, can a user generate a structured request if no `experiment_

[2020-06-19 19:49] mwes commented on #168
In GitLab by @mweston on May 12, 2020, 18:40

@tramyn Thanks, a couple things:

`experiment_id` is a required field, it currently generates for all requests as `experiment.tacc.TBD`:

This conforms to the schema requirement: https://gitlab.sd2e.org/sd2program/cp-request/blob/master/schemas/measurement-request-schema.json#L625 -> https://schema.catalog.sd2e.org/schemas/namespaced_identifier.json

`

[2020-06-19 19:49] mwes commented on #168
In GitLab by @tramyn on May 13, 2020, 17:06

closed via merge request !106

[2020-06-19 19:49] mwes commented on #168
In GitLab by @tramyn on May 13, 2020, 17:06

mentioned in commit dca84fe13050bef65f9636c88731df21e131f297

[2020-06-19 19:49] mwes commented on #168
In GitLab by @tramyn on May 13, 2020, 17:28

@mweston Sorry, I should've gone over previous comments before posting questions that have been answered. Intent Parser is updated to behave as you have described.
In short, intent parser generates `experiment_id` by using this format `experiment.lab.value`.

You can test out this new feature on `http://intentparser2.sd2e.org`.
To get it working, make s

[2020-06-19 19:49] mwes commented on #168
In GitLab by @mweston on May 14, 2020, 08:23

Thanks @tramyn

This is producing an error on the example document: https://docs.google.com/document/d/1U3s3cOQabm-acFHIVccP8_VucMrKEOpRJUjBikXCQGU

("Tight-cycle DNASeq Learn Bacillus Experimental Request")

This is a schema validation error - see below. The lab in the experiment id needs to be lowercased here as part of the namespacing operation.

Fo

[2020-06-19 19:50] mwes commented on #168
In GitLab by @mweston on May 14, 2020, 08:32

One additional request: the parsing here appears to be pretty sensitive:

`Experiment_id: 29422` -> parses as `experiment.Ginkgo.29422`

`Experiment_id:29422` -> Silently fails to parse (`experiment.Ginkgo.TBD`)

This is not intuitive, so I suggest we should either 1) accept the input "as-is" without the prefixed whitespace or 2) Provide a more intuiti

[2020-06-19 19:50] mwes commented on #168
In GitLab by @tramyn on May 18, 2020, 00:31

reopened

[2020-06-19 19:50] mwes commented on #168
In GitLab by @tramyn on May 18, 2020, 12:40

mentioned in merge request !113

[2020-06-19 19:50] mwes commented on #168
In GitLab by @tramyn on May 18, 2020, 12:40

closed via merge request !113

[2020-06-19 19:50] mwes commented on #168
In GitLab by @tramyn on May 18, 2020, 12:40

mentioned in commit ea25ae6e1e7e7c626c4e5b0affaabc273542d60d

[2020-06-19 19:50] mwes commented on #168
In GitLab by @tramyn on May 18, 2020, 19:28

@mweston There was a typo in the previous build. A new build is uploaded and you can test it on the same server. If you would like to try it out, it should be available for use.

[2020-06-19 19:50] mwes commented on #168
In GitLab by @mweston on May 19, 2020, 17:12

@tramyn thanks. Was the typo related to the issues I was seeing? I am still seeing the same issues as in my previous note ([link](https://gitlab.sd2e.org/sd2program/experimental-intent-parser/issues/167#note_17417)) - leading spaces are required for both the lab and the experiment id, which is pretty subtle.

The behavior I'm seeing is:

1) If the lead

[2020-06-19 19:50] mwes commented on #168
In GitLab by @tramyn on May 19, 2020, 17:27

@mweston Can you provide me a document that you are running this example on?
I just ran a unit test with an input an example that you have provided and intent parser will generate the expected value.
For example, this input `Experiment_id:29422` will produce this output: `experiment.tacc.29422`.

[2020-06-19 19:50] mwes commented on #168
In GitLab by @tramyn on May 19, 2020, 17:27

reopened

[2020-06-19 19:50] mwes commented on #168
In GitLab by @tramyn on May 19, 2020, 17:56

I also tried this example on a live document and I'm not getting the same behavior.
This is a [file](https://docs.google.com/document/d/1U3s3cOQabm-acFHIVccP8_VucMrKEOpRJUjBikXCQGU/edit#) that I removed white spaces from lab and experiment_id.

[2020-06-19 19:50] mwes commented on #168
In GitLab by @mweston on May 19, 2020, 18:14

http://intentparser2.sd2e.org/document_request?1U3s3cOQabm-acFHIVccP8_VucMrKEOpRJUjBikXCQGU is that document - this is giving an HTTP 500 error. Perhaps I'm confused to which server you are running on/which I should be using (per the last message you sent, this was all on intentparser2). Have you pushed a release to production already?

[2020-06-19 19:50] mwes commented on #168
In GitLab by @mweston on May 19, 2020, 18:17

http://intentparser.sd2e.org/document_request?1U3s3cOQabm-acFHIVccP8_VucMrKEOpRJUjBikXCQGU works.

[2020-06-19 19:50] mwes commented on #168
In GitLab by @tramyn on May 19, 2020, 18:29

closed

[2020-06-19 19:50] mwes commented on #168
In GitLab by @tramyn on May 28, 2020, 18:22

mentioned in merge request !117

[2020-06-19 19:50] mwes commented on #168
In GitLab by @tramyn on May 28, 2020, 18:22

mentioned in commit 44b90feb257b1589ec1c939f8ad866ca37be9c34

[2020-06-19 19:50] mwes commented on #168
In GitLab by @tramyn on Jun 12, 2020, 18:58

mentioned in commit 9704c3e6d93e671b9c0609d78d8dbf4ee9261d13

[2020-06-19 19:50] mwes commented on #168
In GitLab by @tramyn on Jun 12, 2020, 18:58

mentioned in commit b6586cf162e6232a6785a6ecadf0966a3d7b9cb5

[2020-06-19 19:50] mwes commented on #168
In GitLab by @tramyn on Jun 12, 2020, 18:58

mentioned in commit 5f94071f2ad8d919fc6637f7b4b07f831140dbb2

[2020-06-19 19:50] #168 closed

[2020-06-19 19:50] mwes opened #169 "UI intent parser producing invalid links"
In GitLab by @mweston on Jan 23, 2020, 10:10

The UI intent parser is producing invalid structured request links

To reproduce:
- Pick a document, e.g. https://docs.google.com/document/d/1Q7_iFHgCOkI3ls4l9ZqbKOZ7UgQraZT0sy5pby7Na5g
- Add-Ons -> Intent Parser -> Generate Structured Request
- The link that is produced is:
http://intentparser2.sd2e.org//document_request?1Q7_iFHgCOkI3ls4l9ZqbKOZ7UgQra

[2020-06-19 19:50] mwes commented on #169
In GitLab by @mweston on Jan 28, 2020, 17:39

Resolved, previous version of IP deployed

[2020-06-19 19:51] mwes commented on #169
In GitLab by @mweston on Jan 28, 2020, 17:39

closed

[2020-06-19 19:51] #169 closed

[2020-06-19 19:51] mwes opened #170 "Name versions on export"
In GitLab by @jakebeal on Jan 27, 2020, 14:09

Google Docs allows naming of versions. When we export, it would be good to link the export to a version name (probably added automatically)

[2020-06-19 19:51] mwes commented on #170
In GitLab by @jakebeal on Apr 27, 2020, 09:10

assigned to @tramyn

[2020-06-19 19:51] mwes commented on #170
In GitLab by @jakebeal on Apr 27, 2020, 09:11

Finished during the implementation of golden files for #184

[2020-06-19 19:51] mwes commented on #170
In GitLab by @jakebeal on Apr 27, 2020, 09:11

closed

[2020-06-19 19:51] #170 closed

[2020-06-19 19:51] mwes opened #171 "Report pipeline status and errors in document"
In GitLab by @jakebeal on Jan 29, 2020, 12:36

The IP -> SR -> XPlan -> lab -> ETL pipeline has many potential places where it can break or report errors and warnings.

Can we automatically track and write this information into the experiment request?

[2020-06-19 19:51] mwes opened #172 "Highlight errors when validation runs"
In GitLab by @jakebeal on Jan 29, 2020, 12:37

If we can localize where an error happens, we should be able to highlight that cell in an experiment request table in order to help the user debug that error.

[2020-06-19 19:51] mwes opened #173 "Indicate Strateos inventory in ER documents"
In GitLab by @jakebeal on Jan 29, 2020, 12:40

@dbryce is able to pull inventory information from Strateos.  This information could be mapped through SynBioHub to figure out which of the strains in the request are available and which are not.

This could be conveyed to the user visually (e.g., via strain highlighting).

Could probably be applied to other reagents as well, though that may be less i

[2020-06-19 19:51] mwes opened #174 "Indicate build status in ER documents"
In GitLab by @jakebeal on Jan 29, 2020, 12:42

If we can get build status information from the build groups, we could expose that information in the ER document, e.g., by highlighting.

We might also be able to report the time pending on builds and the expected time when the experiment will be able to be run.

[2020-06-19 19:51] mwes opened #175 "Google Accessor delete_file() will not successfully delete a given spreadsheet id"
In GitLab by @tramyn on Jan 29, 2020, 14:55

There are test classes that are set up to create a copy of the SD2 Dictionary spreadsheet. GenerateStruturedRequestTest and IntegrationIpsTest are two test classes that currently calls Google Accessor delete_file() to delete a copied spreadsheet. This method will currently delete a given document ID but it does not work when deleting a given spreadsheet

[2020-06-19 19:51] mwes commented on #175
In GitLab by @jakebeal on Jan 29, 2020, 17:57

A potential band-aid: make a "test files" directory so that they are at least all hidden away in their own trash-can.

[2020-06-19 19:51] mwes commented on #175
In GitLab by @jakebeal on Apr 20, 2020, 09:15

assigned to @tramyn

[2020-06-19 19:51] mwes commented on #175
In GitLab by @tramyn on Apr 21, 2020, 23:46

mentioned in merge request !104

[2020-06-19 19:51] mwes commented on #175
In GitLab by @tramyn on Apr 21, 2020, 23:46

created merge request !104 to address this issue

[2020-06-19 19:51] mwes commented on #175
In GitLab by @tramyn on Apr 24, 2020, 15:06

This issue should be resolved. There are test cases set up [here]( https://gitlab.sd2e.org/sd2program/experimental-intent-parser/blob/174-google-accessor-delete_file-will-not-successfully-delete-a-given-spreadsheet-id/intent-parser-server/tests/test_google_accessor.py) to validate this change. One thing to note is deletion for a given file id will only

[2020-06-19 19:51] mwes commented on #175
In GitLab by @tramyn on Apr 26, 2020, 19:45

closed via merge request !104

[2020-06-19 19:51] mwes commented on #175
In GitLab by @tramyn on Apr 26, 2020, 19:45

mentioned in commit 7502f6e07ff918f6d989dba3029a5c0c81fbdd79

[2020-06-19 19:51] mwes commented on #175
In GitLab by @tramyn on Jun 12, 2020, 18:58

mentioned in commit b293ae76701971f17f023e08c22e372e50824e64

[2020-06-19 19:51] #175 closed

[2020-06-19 19:52] mwes opened #176 "Add Missing Strateos Terms to SD2 Program Dictionary"
In GitLab by @tramyn on Jan 29, 2020, 17:29

Below are a list of Strateos terms with missing common names that are missing from the [SD2 Program Dictionary](https://docs.google.com/spreadsheets/d/1oLJTTydL_5YPyk-wY-dspjIw_bPZ3oCiWiK0xtG8t3g/edit#gid=1729578261). Without these terms supported, intent parser will drop them when generating a structured request for a parameter table.

[code]

[2020-06-19 19:52] mwes commented on #176
In GitLab by @mweston on Jan 29, 2020, 17:41

Dictionary updated

[2020-06-19 19:52] mwes commented on #176
In GitLab by @mweston on Jan 29, 2020, 18:07

Duplicate for Induction Media Volume, I adjusted the entries. Will need to wait for next SBH update.

[2020-06-19 19:52] mwes commented on #176
In GitLab by @mweston on Jan 29, 2020, 20:49

All terms now added

[2020-06-19 19:52] mwes commented on #176
In GitLab by @mweston on Jan 31, 2020, 09:12

@tramyn is anything else needed here?

[2020-06-19 19:52] mwes commented on #176
In GitLab by @tramyn on Jan 31, 2020, 10:02

No. I've checked your updates and this issue is resolved. I can close this issue if you have no additional comments from here.

[2020-06-19 19:52] mwes commented on #176
In GitLab by @mweston on Jan 31, 2020, 10:36

Fine with me.

[2020-06-19 19:52] mwes commented on #176
In GitLab by @tramyn on Jan 31, 2020, 10:42

closed

[2020-06-19 19:52] #176 closed

[2020-06-19 19:52] mwes opened #177 "Report errors instead of unspecified"
In GitLab by @jakebeal on Jan 29, 2020, 18:19

When an "unspecified" would have been reported, Tramy is planning to make Intent Parser raise an error instead.

[2020-06-19 19:52] mwes commented on #177
In GitLab by @jakebeal on Feb 16, 2020, 16:23

@tramyn , did this get finished already in 2.3?

[2020-06-19 19:52] mwes commented on #177
In GitLab by @tramyn on Feb 17, 2020, 09:49

@jakebeal: Yes, this issue is addressed in 2.3.2post.

[2020-06-19 19:52] mwes commented on #177
In GitLab by @jakebeal on Feb 17, 2020, 10:12

closed

[2020-06-19 19:52] #177 closed

[2020-06-19 19:52] mwes opened #178 "Menu generation of parameter table templates"
In GitLab by @jakebeal on Jan 29, 2020, 18:20

As for the main experiment request tables, we should have a menu item to add parameter table templates too.

[2020-06-19 19:52] mwes commented on #178
In GitLab by @tramyn on Mar 12, 2020, 10:35

mentioned in merge request !102

[2020-06-19 19:52] mwes commented on #178
In GitLab by @tramyn on Mar 12, 2020, 10:35

created merge request !102 to address this issue

[2020-06-19 19:52] mwes commented on #178
In GitLab by @tramyn on Mar 26, 2020, 13:00

@mweston How many Parameters do you want listed when creating a Parameter Table Template?

Currently, Intent Parser will generate data from a Parameter Table with terms matching to the [SD2 Program Dictionary](https://docs.google.com/spreadsheets/d/1oLJTTydL_5YPyk-wY-dspjIw_bPZ3oCiWiK0xtG8t3g/edit#gid=1729578261). My initial plan is to generate a parame

[2020-06-19 19:52] mwes commented on #178
In GitLab by @mweston on Mar 26, 2020, 13:28

The parameters are based on the protocol, of which we have three. If they selected a protocol from a list or drop down, we could pre-populate the table with the parameters for that protocol.

I'll mention this to @dbryce and Josh Nowak and see if we can get an authoritative reference for you.

[2020-06-19 19:52] mwes commented on #178
In GitLab by @tramyn on Apr 1, 2020, 13:44

@mweston I want to check in on the status of this issue. What is the status of generating a list of protocols that I can use for building a frontend Parameter table?

[2020-06-19 19:52] mwes commented on #178
In GitLab by @mweston on Apr 1, 2020, 14:10

I've pinged Dan and Josh on Slack, will post here when I hear more.

[2020-06-19 19:53] mwes commented on #178
In GitLab by @mweston on Apr 1, 2020, 14:12

If you want to get started, you can build out a set of (to be filled in parameter) templates based on the three current protocols Strateos supports: Growth Curves, Time Series, and Obstacle Course.

https://docs.google.com/document/d/1PnFW635BGtx8YY5ipNZfXzwOwdhVNJpybtCARgRCN8k/edit#heading=h.yuwrd5ii9n4p

This should be a drop-down option for the exper

[2020-06-19 19:53] mwes commented on #178
In GitLab by @tramyn on Apr 2, 2020, 13:54

@mweston: Okay. I think I have enough information to create these protocol templates. I will post to this issue once I have put these information together.

[2020-06-19 19:53] mwes commented on #178
In GitLab by @mweston on Apr 6, 2020, 13:48

@tramyn A brief update here, the protocol schemas live in an internal repo at Strateos. Josh Nowak is working on a way to make this automated/accessible to you. A copy could work short-term, although it has the side-effect of going out of date as the protocols get updated.

[2020-06-19 19:53] mwes commented on #178
In GitLab by @mweston on Apr 6, 2020, 14:28

@tramyn A follow up. Josh is working on a way to mirror his schema + updates to an SD2 GitLab repo.

[2020-06-19 19:53] mwes commented on #178
In GitLab by @tramyn on Apr 6, 2020, 14:32

Thanks for keeping in this loop @mweston. Did Josh Nowak mention what the timeline will be on his end to get this accessibility feature open for me to use?

I think it is still valid to move forward with our temporary solution and get this protocol out. Once Josh has the Strateos protocol set up then I can add this support to Intent Parser as a future mi

[2020-06-19 19:53] mwes commented on #178
In GitLab by @mweston on Apr 6, 2020, 16:23

@tramyn we should have a solution shortly (today), working it now

[2020-06-19 19:53] mwes commented on #178
In GitLab by @mweston on Apr 6, 2020, 16:49

@tramyn this should give you access to the protocol parameter schemas through Strateos' API:

Setup steps:
1. pip install transcriptic
2. transcriptic login

(login with credentials from https://secure.transcriptic.com/; if you need access Josh Nowak on SD2 Slack can help you out)

3. This login saves a connection file at ~/.transcriptic

4. The followi

[2020-06-19 19:53] mwes commented on #178
In GitLab by @tramyn on Apr 8, 2020, 16:52

@mweston I have the transcriptic connection set up. I assume that each protocol schema will be used for validating the content of a parameter table. The validation performed will be dependent upon what protocol is used in a parameter table. Is this description following in line with your solution?

[2020-06-19 19:53] mwes commented on #178
In GitLab by @mweston on Apr 8, 2020, 17:02

I don't think the validation process *itself* should need to change based on the protocol, but the list of expected parameters would, which the Strateos API is now  giving us an authoritative source for.

[2020-06-19 19:53] mwes commented on #178
In GitLab by @tramyn on Apr 8, 2020, 17:14

What would a preselected protocol look like when building a Parameter Table template? Are you expecting a template with Parameter Fields set to default values from the Strateos schema? Or have access to selecting optional values from the schema to build the template?

[2020-06-19 19:53] mwes commented on #178
In GitLab by @mweston on Apr 8, 2020, 17:18

The default values could be useful as starting points for users who are not familiar with the protocols and/or parameters. For appearance, it should look and function just like the existing tables we're using, but with protocol driven keys and values.

[2020-06-19 19:53] mwes commented on #178
In GitLab by @tramyn on Apr 24, 2020, 17:54

@mweston, the following is a list of parameters that I will need supported in the SBOL Dictionary Maintainer. Could you go over and have them added to the spreadsheet? If these terms are not added to the dictionary, intent parser will skip these parameters when generating a parameter table template for the selected protocol.

Growth curves:
- src_info.s

[2020-06-19 19:53] mwes commented on #178
In GitLab by @tramyn on Apr 26, 2020, 19:45

closed via merge request !102

[2020-06-19 19:53] mwes commented on #178
In GitLab by @tramyn on Apr 26, 2020, 19:45

mentioned in commit b2041cfe6fe196d358d89c5bca299da9feb284ca

[2020-06-19 19:53] mwes commented on #178
In GitLab by @mweston on Apr 26, 2020, 20:42

@tramyn sure, added to the dictionary.

[2020-06-19 19:53] mwes commented on #178
In GitLab by @tramyn on Jun 12, 2020, 18:58

mentioned in commit 0e4195355187906fedc411053721ee773bc07cef

[2020-06-19 19:53] #178 closed

[2020-06-19 19:53] mwes opened #179 ""add to synbiohub" is not finding links"
In GitLab by @jakebeal on Jan 29, 2020, 18:21

The "Add to SynBioHub" option is not finding existing items to link.

[2020-06-19 19:53] mwes commented on #179
In GitLab by @jakebeal on Apr 20, 2020, 09:19

Doesn't seem to be happening any more; it's working again, likely fixed as a side effect of something else.  We will reopen if it fails again.

[2020-06-19 19:53] mwes commented on #179
In GitLab by @jakebeal on Apr 20, 2020, 09:19

closed

[2020-06-19 19:53] #179 closed

[2020-06-19 19:54] mwes opened #180 ""Go" button for executing a run"
In GitLab by @jakebeal on Jan 29, 2020, 18:22

We want to be able not just to export a structured request, but to have a "go" button that executes a full run at Strateos.

[2020-06-19 19:54] mwes commented on #180
In GitLab by @mweston on Jan 29, 2020, 18:25

Document agave message to structured request reactor from Intent Parser python backend (including any TACC dependencies)

[2020-06-19 19:54] mwes commented on #180
In GitLab by @dbryce on Mar 25, 2020, 11:17

I'd like this to be a near-term (not immediate) objective.  Before next PI meeting would be nice.

[2020-06-19 19:54] mwes commented on #180
In GitLab by @jakebeal on Mar 25, 2020, 16:09

2.6 sounds like the right place for it to stay, then.  The ball is still in @mweston's court to prepare the enabling documentaiton and architecture.

[2020-06-19 19:54] mwes commented on #180
In GitLab by @mweston on Apr 28, 2020, 09:20

The main need here is sending a reactor message from the intent-parser python backend to XPlan with its expected input. This would mirror what XPlan is currently sending in its integration test.

https://gitlab.sd2e.org/sd2program/round-trip/blob/development/test/integration/test_srr_xplan.py
https://gitlab.sd2e.org/sd2program/round-trip/blob/developme

[2020-06-19 19:54] mwes commented on #180
In GitLab by @jakebeal on Apr 29, 2020, 07:38

@mweston As you have written this, it sounds like this would require Intent Parser to become aware of the reactor architecture and change to interact with the pipeline on a "push" architecture rather than the current "pull" architecture for the routing of its JSON outputs?  I am wary of a decision like this, because making it dependent on Tapis would

[2020-06-19 19:54] mwes commented on #180
In GitLab by @mweston on Apr 29, 2020, 07:47

@jakebeal That's certainly a reasonable concern. Without the intent parser sending any sort of message or data, however, it's unclear to me how such a "Go" button on the interface would be achieved. Would a "Go" button set some internal state in the intent-parser that a looping poll of all possible experiment requests would be querying over every few s

[2020-06-19 19:54] mwes commented on #180
In GitLab by @jakebeal on Apr 29, 2020, 09:11

Let me propose two possible paths here, either of which I think is workable:

1. The "Go" button isn't actually in the Intent Parser, but in something else that one points at an Experimental Intent document and says "Run this document".  This is what I thought you were intending originally, because you didn't want random users to be able to fire off s

[2020-06-19 19:54] mwes commented on #180
In GitLab by @mweston on Apr 29, 2020, 09:59

I thought this would be a button, or an option in the Intent-Parser drops down that says "Run this experiment at Strateos", e.g. a "Go Button". I can see now that the original issue was unclear on this point, but I am not the only user with input of course. I am glad we are discussing/clarifying this.

For option 1 - we don't need any further support.

[2020-06-19 19:54] mwes commented on #180
In GitLab by @jakebeal on Apr 29, 2020, 12:55

If you're OK with the submits being open, then we can definitely go with option 2.  Your sketch above fits with what I was thinking.

[2020-06-19 19:54] mwes commented on #180
In GitLab by @mweston on Apr 29, 2020, 13:07

Works for me.

[2020-06-19 19:54] mwes commented on #180
In GitLab by @jakebeal on Apr 29, 2020, 15:42

I've created a set of issues descending from this decision: #194, #195, #196, and #197.

I'll leave this one open for now to help keep track of the documentation provided about format.

[2020-06-19 19:54] mwes commented on #180
In GitLab by @tramyn on Jun 11, 2020, 18:16

@jakebeal @mweston I've added my comments to the 4 related issues. Please have a look.

[2020-06-19 19:54] mwes commented on #180
In GitLab by @mweston on Jun 12, 2020, 13:54

Responding now

[2020-06-19 19:54] mwes opened #181 "Suggested links in document"
In GitLab by @jakebeal on Jan 29, 2020, 18:23

The intent parser should find potential links and add "suggested edits" for changing to put the links in. The links can then be accepted by the user (in which case, they are in place), or rejected (in which case intent parser should remember and not suggest the same thing in the same place).

[2020-06-19 19:54] mwes opened #182 "Intent parser incorrectly parsing measurement types: DNA_SEQ rows parsed as RNA_SEQ"
In GitLab by @mweston on Feb 15, 2020, 12:18

RE: https://docs.google.com/document/d/1EuAsTsUdgyVZ45FctdQi0DdPX1dLUxQZpHAvA45h7wE

The row with measurement type "DNAseq" silently parses as RNA_SEQ. This misrepresents the actual RNA_SEQ measurements and is affecting the XPlan processing.

For now, I have to manually patch the output from the intent parser (to change it to DNA_SEQ) for every request

[2020-06-19 19:54] mwes commented on #182
In GitLab by @mweston on Feb 15, 2020, 12:39

You could fix this with a different string matching algorithm that looks beyond just first/longest common substring, or you could pre-process the input a bit, here:

https://gitlab.sd2e.org/sd2program/experimental-intent-parser/blob/develop/intent-parser-server/src/measurement_table.py#L145

- Remove all whitespace and underscore characters from _both_

[2020-06-19 19:54] mwes commented on #182
In GitLab by @tramyn on Feb 17, 2020, 14:23

@mweston This issue should not occur if the user had created their measurement table from intent parser's drop down menu and selected DNA_SEQ as the desired measurement_type. This error could only happen if the user decides to enter in their own value to refer to DNA_SEQ and the manual edit does not match the term that intent parser expects the input va

[2020-06-19 19:54] mwes commented on #182
In GitLab by @mweston on Feb 17, 2020, 14:31

Thanks @tramyn.

So what happened, and this seems quite common, is:
1) Given an existing table or request: copy that request
2) Modify the request as needed. Manually add an additional row.
3) Manually populate what they think the Intent Parser understands for their measurement ("DNASeq")

Solutions 1/2/3 seem related in that the user does not know wha

[2020-06-19 19:54] mwes commented on #182
In GitLab by @tramyn on Feb 21, 2020, 10:13

mentioned in merge request !92

[2020-06-19 19:54] mwes commented on #182
In GitLab by @tramyn on Feb 21, 2020, 10:13

created merge request !92 to address this issue

[2020-06-19 19:55] mwes commented on #182
In GitLab by @tramyn on Feb 27, 2020, 11:41

closed via merge request !92

[2020-06-19 19:55] #182 closed

[2020-06-19 19:55] mwes opened #183 "Intent parser cannot parse and silently drops Media for a request"
In GitLab by @mweston on Feb 21, 2020, 15:09

We are attempting to generate from the following Obstacle Course request:

https://docs.google.com/document/d/1yVEAeB9pi-5yiQvmp8S2pyMUf2oSL32ZGvSDY6zLP1w

There are two issues here:

1) This request fails validation - an issue that (SBH-linked) media terms require units. We're not sure why this is happening - the request looks OK to us.

2) When we ge

[2020-06-19 19:55] mwes commented on #183
In GitLab by @mweston on Feb 21, 2020, 15:15

changed the description

[2020-06-19 19:55] mwes commented on #183
In GitLab by @jakebeal on Feb 21, 2020, 15:29

assigned to @tramyn

[2020-06-19 19:55] mwes commented on #183
In GitLab by @mweston on Feb 21, 2020, 15:38

@tramyn is a regex used to try and figure out if the media value is a name + numeric unit or a string name it tries to parse?

In this case we have a SBH URI linked term! That should be helpful to the IP, it shouldn't have to guess here. Can we just use that directly?

https://hub.sd2e.org/user/sd2e/design/Modified0x20M90x20Media0x200x2B0x20Kan0x205_ug

[2020-06-19 19:55] mwes commented on #183
In GitLab by @tramyn on Feb 24, 2020, 11:50

mentioned in merge request !93

[2020-06-19 19:55] mwes commented on #183
In GitLab by @tramyn on Feb 24, 2020, 11:50

created merge request !93 to address this issue

[2020-06-19 19:55] mwes commented on #183
In GitLab by @tramyn on Feb 27, 2020, 12:05

closed via merge request !93

[2020-06-19 19:55] #183 closed

[2020-06-19 19:55] mwes opened #184 "Validate on generation"
In GitLab by @jakebeal on Feb 21, 2020, 15:30

When we generate a structured request, we should run it through the validator first.
If it succeeds validation, no problem.
If it fails validation, then the user should be warned that they are downloading a faulty request.

[2020-06-19 19:55] mwes commented on #184
In GitLab by @tramyn on Feb 24, 2020, 15:52

mentioned in merge request !94

[2020-06-19 19:55] mwes commented on #184
In GitLab by @tramyn on Feb 24, 2020, 15:52

created merge request !94 to address this issue

[2020-06-19 19:55] mwes commented on #184
In GitLab by @tramyn on Feb 25, 2020, 12:55

mentioned in merge request !95

[2020-06-19 19:55] mwes commented on #184
In GitLab by @tramyn on Feb 25, 2020, 12:55

created merge request !95 to address this issue

[2020-06-19 19:55] mwes commented on #184
In GitLab by @tramyn on Feb 27, 2020, 12:05

closed via merge request !94

[2020-06-19 19:55] mwes commented on #184
In GitLab by @tramyn on Feb 27, 2020, 12:05

mentioned in commit 5e5e8d5a03180e277e07a2514ba53fff4b38976e

[2020-06-19 19:55] #184 closed

[2020-06-19 19:55] mwes opened #185 "Golden-file CI tests"
In GitLab by @jakebeal on Feb 21, 2020, 16:06

@mweston has been doing "golden file" checks for regression by checking out the cp-request repository, using a script to run the intent parser against every file in the repository, and checking if anything has changed.  If nothing has changed, then the behavior with respect to "golden files" is stable.

This process can be wrapped as a script in a CI

[2020-06-19 19:55] mwes commented on #185
In GitLab by @mweston on Feb 24, 2020, 15:52

From a discussion on Friday, the latest approach here is to:

- Use the Google Docs API to pass the file revision as part of the parsed structured request JSON.
- This will be persisted in Git from the Intent Parser

Golden file validation then becomes:

a. Clone the cp-request repo

b. For each document in input/structured_requests:

c. Run the intent

[2020-06-19 19:55] mwes commented on #185
In GitLab by @mweston on Feb 24, 2020, 15:52

assigned to @tramyn and unassigned @mweston

[2020-06-19 19:56] mwes commented on #185
In GitLab by @mweston on Feb 24, 2020, 15:52

Assigning to @tramyn to include revision in IP output

[2020-06-19 19:56] mwes commented on #185
In GitLab by @tramyn on Feb 27, 2020, 12:01

@mweston @jakebeal: This issue will need to move to the next milestone. I will need more time to understand Google's API in order to setup this testing environment. For now, I want this release to focus on getting features for parameter table published. Although it might not be ideal, we have a testing environment set up that works.

[2020-06-19 19:56] mwes commented on #185
In GitLab by @mweston on Feb 27, 2020, 16:00

@tramyn OK - thanks. So we will have to manually check this release. Can you let me know when it's ready to test and verify the server address? Thanks!

[2020-06-19 19:56] mwes commented on #185
In GitLab by @tramyn on Mar 12, 2020, 10:35

created merge request !101 to address this issue

[2020-06-19 19:56] mwes commented on #185
In GitLab by @tramyn on Mar 12, 2020, 10:35

mentioned in merge request !101

[2020-06-19 19:56] mwes commented on #185
In GitLab by @tramyn on Mar 25, 2020, 18:11

@mweston When was the last time files from cp-request's [input/structured_requests](https://gitlab.sd2e.org/sd2program/cp-request/tree/master/input/structured_requests) tested and compared with results generated from intent parser?

I have a test case set up that will compare results generated from intent parser with files stored in cp-request's input/s

[2020-06-19 19:56] mwes commented on #185
In GitLab by @mweston on Mar 25, 2020, 18:37

@tramyn what's happening here is you're seeing examples where we've had to modify the IP generated output to make progress against what the programs needs vs. what the IP can generate. These are manual modifications that are checked into git so we can track these changes, and so we have only a single source of authoritative truth.

These manually chang

[2020-06-19 19:56] mwes commented on #185
In GitLab by @tramyn on Mar 26, 2020, 16:41

I had to go back on our Slack thread to remember what we discussed about this issue and I realized I forgot about recording revisionIds from intent parser...
This is what I am understanding to proceed:

- Given a Google Doc that is instructed to generate a structured request, the output json will include a new field to record a snapshot of the document.

[2020-06-19 19:56] mwes commented on #185
In GitLab by @mweston on Mar 26, 2020, 17:35

Yes, that sounds exactly right. We captured a form of this in the comment above: https://gitlab.sd2e.org/sd2program/experimental-intent-parser/issues/184#note_15584

[2020-06-19 19:56] mwes commented on #185
In GitLab by @tramyn on Mar 26, 2020, 17:53

Great! There is a potential issue with this--[Google Drive's API](https://developers.google.com/drive/api/v3/manage-revisions) website mention that I might not be able to retrieve/download a Google Doc from a revisionId. I'm not sure what this entails but I'll do some testing and update to this issue accordingly.

[2020-06-19 19:56] mwes commented on #185
In GitLab by @tramyn on Apr 24, 2020, 14:09

@mweston : This issue is ready for testing with cp-request repository input/structured_requests files. Could you follow up with the following action items to finish this issue request?
1. Have schema catalog support `doc_revision_id` in the [structured_request schema](https://schema.catalog.sd2e.org/schemas/structured_request.json)
2. Then, run the file

[2020-06-19 19:56] mwes commented on #185
In GitLab by @tramyn on Apr 26, 2020, 19:43

closed via merge request !101

[2020-06-19 19:56] mwes commented on #185
In GitLab by @mweston on Apr 26, 2020, 20:32

mentioned in merge request cp-request!407

[2020-06-19 19:56] mwes commented on #185
In GitLab by @mweston on Apr 26, 2020, 20:42

@tramyn sure, schema MR filed: https://gitlab.sd2e.org/sd2program/cp-request/merge_requests/407
I'll regen against this once it's merged

[2020-06-19 19:56] mwes commented on #185
In GitLab by @mweston on Apr 27, 2020, 11:19

@tramyn I am seeing errors coming out of intentparser2.sd2e.org that is preventing the JSON from returning.

Here is an example that is failing for me:

[code]

[code]

This is preventing the regen with `doc_revision_id` step

[2020-06-19 19:56] mwes commented on #185
In GitLab by @mweston on Apr 27, 2020, 11:22

reopened

[2020-06-19 19:56] mwes commented on #185
In GitLab by @tramyn on Apr 27, 2020, 11:29

@mweston did this file get deleted? I want to view this file as a Google Doc but got this message:

![Screen_Shot_2020-04-27_at_8.27.47_AM](/uploads/6a0c018856ecc2341cc814fd455362a2/Screen_Shot_2020-04-27_at_8.27.47_AM.png)

[2020-06-19 19:56] mwes commented on #185
In GitLab by @mweston on Apr 27, 2020, 11:31

Yes, I think I see what's happening. We parse recursively and there's a Google Sheet in one of the folders. This is that first id that gets sent. When this gets sent to the IP, it looks like it breaks all of the _following_ request calls, even if those calls are valid when executed in isolation.

e.x. this works:

[code]

and this fails if we run the s

[2020-06-19 19:56] mwes commented on #185
In GitLab by @mweston on Apr 27, 2020, 11:42

If it helps, the previous version does not do this. It gives an error for the first call (which is fine, we don't expect this to parse), but the second call still succeeds.
[code]
[code]

[2020-06-19 19:56] mwes commented on #185
In GitLab by @tramyn on Apr 27, 2020, 17:24

@mweston There were typos when handling exceptions in intent_parser_server.py. I made a fix and a new build is running on `http://intentparser2.sd2e.org/`. Please, could you try again and let me know if this resolve the issue?

[2020-06-19 19:56] mwes commented on #185
In GitLab by @mweston on Apr 27, 2020, 22:57

Hi @tramyn thanks - this appears to be working now. I've merged in `doc_revision_id` values here: https://gitlab.sd2e.org/sd2program/cp-request/merge_requests/410

There are 26 structured requests with `doc_revision_id` values now.

[2020-06-19 19:57] mwes commented on #185
In GitLab by @mweston on Apr 28, 2020, 08:17

@tramyn one note: because of some gaps in generation (see: https://gitlab.sd2e.org/sd2program/experimental-intent-parser/issues/92 https://gitlab.sd2e.org/sd2program/experimental-intent-parser/issues/167
https://gitlab.sd2e.org/sd2program/experimental-intent-parser/issues/188)

the generated output will not match what's checked in exactly. This is beca

[2020-06-19 19:57] mwes commented on #185
In GitLab by @mweston on Apr 28, 2020, 08:38

@tramyn did http://intentparser2.sd2e.org/ just stop generating the `doc_revision_id` value? I am seeing different output now for the same REST calls.

[2020-06-19 19:57] mwes commented on #185
In GitLab by @tramyn on Apr 28, 2020, 13:45

@mweston No, I moved contents for this version of intent parser to run on the production server (`http://intentparser.sd2e.org/`) so that I can announce the 2.5 release today. If you want access to doc_revision_id, please switch to production. The testing server (`http://intentparser2.sd2e.org/`) is currently set to run 2.4.1.

[2020-06-19 19:57] mwes commented on #185
In GitLab by @mweston on Apr 28, 2020, 14:28

Got it, thanks!

[2020-06-19 19:57] mwes commented on #185
In GitLab by @tramyn on Apr 28, 2020, 15:04

@mweston I have the 22 structured request running as golden file testing. The test cases are set up to ignore certain elements from a structured request that are dependent upon the input document. This includes, `experiment id` in addition to `experiment_reference`, `challenge_problem`, and `doc_revision_id`.

This testing is also failing 4 of the 22 st

[2020-06-19 19:57] mwes commented on #185
In GitLab by @mweston on Apr 28, 2020, 15:57

@tramyn How does this work with new experiment requests? Will your code pickup a new document with a `doc_revision_id` if it's added? There should be 26 there now - I suspect we still might be missing a few. Let me switch it back from intentparser2 and double-check if there are any others.

The `experiment_reference` and `challenge_problem` should be s

[2020-06-19 19:57] mwes commented on #185
In GitLab by @tramyn on Apr 28, 2020, 18:23

@mweston I have set up the test to run each of the golden files as an individual unittest. This will mean that if there are new documents added to cp-request's repo, then I will need to track what files are added to the repo and manually expand this type of testing to include the new documents. You can view the setup (here)[https://gitlab.sd2e.org/sd2pr

[2020-06-19 19:57] mwes commented on #185
In GitLab by @mweston on Apr 28, 2020, 18:27

OK. New files are added automatically through XPlan now (wee took humans out of the processing steps), we'll have to track it as best we can and update the tests. I'll help by filing ticket and/or MRs.

6 documents cannot parse due to stricter validation requirements related to batch parameter support (see: https://gitlab.sd2e.org/sd2program/experiment

[2020-06-19 19:57] mwes commented on #185
In GitLab by @mweston on Apr 28, 2020, 18:27

closed

[2020-06-19 19:57] #185 closed

[2020-06-19 19:57] mwes opened #186 "Visualizing Plate Layouts"
In GitLab by @dbryce on Feb 26, 2020, 11:58

XPlan generates plate layouts for experiments.  These layouts are commonly manually defined as part of the experimental request.  If XPlan autogenerates the layout, we can add these to the ER in the same fashion that we add experimental data.

[2020-06-19 19:57] mwes commented on #186
In GitLab by @tramyn on Feb 28, 2020, 14:27

@dbryce Do you have plate layout examples that intent parser should go off of to support this feature?

[2020-06-19 19:57] mwes commented on #186
In GitLab by @dbryce on Mar 25, 2020, 11:15

Commenting to say this is not high priority right now, but still relevant.

[2020-06-19 19:57] mwes opened #187 "Validate on generation through REST API Call"
In GitLab by @mweston on Mar 2, 2020, 10:24

The REST API path: http://intentparser2.sd2e.org/document_request?some_document_id

is the backbone of the programatic generation and experiment request processing the rest of the program relies on once a user has completed a request and is ready to have it processed through XPlan and Strateos.

While issue https://gitlab.sd2e.org/sd2program/experimenta

[2020-06-19 19:57] mwes commented on #187
In GitLab by @jakebeal on Mar 2, 2020, 10:36

assigned to @tramyn

[2020-06-19 19:57] mwes commented on #187
In GitLab by @mweston on Mar 9, 2020, 14:19

mentioned in merge request cp-request!320

[2020-06-19 19:57] mwes commented on #187
In GitLab by @tramyn on Mar 12, 2020, 10:34

mentioned in merge request !100

[2020-06-19 19:57] mwes commented on #187
In GitLab by @tramyn on Mar 12, 2020, 10:34

created merge request !100 to address this issue

[2020-06-19 19:57] mwes commented on #187
In GitLab by @tramyn on Mar 26, 2020, 12:28

@mweston How would you like to receive these errors from making a REST API call?

For this issue, Intent Parser will return a HTTP 400 Error to indicate that that the requested document has malformed syntax. I could include the errors from this request and list the errors in a json format.

This is what it would look like:
![issue186](/uploads/3a5ab2aaf

[2020-06-19 19:57] mwes commented on #187
In GitLab by @mweston on Mar 26, 2020, 13:25

A 400 with some errors in JSON would be great.

To start, I would limit to just true schema validation errors at this point.

As part of this ticket, we should review some of the additional validation checks the IP performs (outside and/or in addition to the schema validation) and see if they make sense - I recall seeing issues on documents that were u

[2020-06-19 19:57] mwes commented on #187
In GitLab by @mweston on Mar 27, 2020, 08:39

@tramyn I'm unable to run the app to gather validation checks. Can you review?

![image](/uploads/91460b890ddb72aa304bd47410dc7a4d/image.png)

In the meantime, work could start here on just pure schema validation.

[2020-06-19 19:57] mwes commented on #187
In GitLab by @tramyn on Mar 27, 2020, 10:29

@mweston did you get an option at the bottom that says Advanced? If you do, click on it. You should then be able to see a link that says Go to IPProject Release (unsafe). Click on this link as well and proceed to login. If you are not getting an option to proceed, then let me know.![Screen_Shot_2020-03-27_at_7.24.12_AM](/uploads/49a3ba7cf665ccc9f5119597

[2020-06-19 19:58] mwes commented on #187
In GitLab by @mweston on Mar 27, 2020, 10:34

Thanks Tramy, I do not see that. I see two screens before that error:

![image](/uploads/a8b5041be1f32a7c19ea3d866dbfb620/image.png)

![image](/uploads/6d02e13cd787c7328f35dfc12a076154/image.png)

[2020-06-19 19:58] mwes commented on #187
In GitLab by @tramyn on Mar 27, 2020, 10:36

@mweston Can you send the link to the Doc you are trying to run intent parser on?

[2020-06-19 19:58] mwes commented on #187
In GitLab by @mweston on Mar 27, 2020, 11:17

Sure https://docs.google.com/document/d/1oIBd-a_n8pGNtoM9zYkWjhlsG04B2lmfYKhlLSAkRFw

[2020-06-19 19:58] mwes commented on #187
In GitLab by @tramyn on Mar 27, 2020, 11:54

@mweston Can you try running validation on that document again? It is working for me.

Are you getting this same behavior when running validation with intent parser for other Google Docs?

[2020-06-19 19:58] mwes commented on #187
In GitLab by @mweston on Mar 27, 2020, 12:25

It works on some, fails on others. I'm not sure why.

Works:
https://docs.google.com/document/d/16UbA3M_QAInrB-noyT8mNdxNpon8DWZ-SNomoxo2vy4/

Fails:
https://docs.google.com/document/d/1bKrWk1fgGDiW7t_NOOuOLQX0ttizpjQhd4Qkiw_27F4/
https://docs.google.com/document/d/1YvmxCKr0N0rKBjdJSGs8ZWuXiz_QnBgqFjvlRTMvl8Q

[2020-06-19 19:58] mwes commented on #187
In GitLab by @tramyn on Mar 27, 2020, 12:30

Can you run intent parser on documents that fail after I run them? I want to see if this is an authorization issue that requires the owner to make the first run.

[2020-06-19 19:58] mwes commented on #187
In GitLab by @mweston on Mar 27, 2020, 12:39

Still failing - the ones that fail come up with the "authorization" required -> choose account images above. If they work I get no prompt and the script just runs.

[2020-06-19 19:58] mwes commented on #187
In GitLab by @tramyn on Apr 1, 2020, 13:34

@mweston When can I expect to get a list of [validation checks](https://gitlab.sd2e.org/sd2program/experimental-intent-parser/issues/186#note_16354)?

[2020-06-19 19:58] mwes commented on #187
In GitLab by @mweston on Apr 1, 2020, 13:52

@tramyn Let's try to iterate and work with small changes we can test and verify:

1. Start with schema validation on the generated JSON. This should be straightforward:
from jsonschema import validate
from jsonschema import ValidationError
try:
  schema = { "$ref" : "https://schema.catalog.sd2e.org/schemas/structured_request.json" }
except ValidationErr

[2020-06-19 19:58] mwes commented on #187
In GitLab by @tramyn on Apr 1, 2020, 15:00

Here is a list of validations that intent parser (ip) collects when generating a structured request.

ip collects warnings for:
- Terms identified in a Google Doc that are not linked to a SBH URI

ip collects errors related to tables in a Google Doc:
- if a measurement table:
   * contains a measurement-type that does not match those that are listed in t

[2020-06-19 19:58] mwes commented on #187
In GitLab by @mweston on Apr 1, 2020, 15:08

Those errors all look good! Let's proceed with those.

[2020-06-19 19:58] mwes commented on #187
In GitLab by @tramyn on Apr 24, 2020, 14:15

This issue is complete and is currently running on the testing server (`http://intentparser2.sd2e.org/`).

[2020-06-19 19:58] mwes commented on #187
In GitLab by @tramyn on Apr 26, 2020, 19:43

closed via merge request !100

[2020-06-19 19:58] mwes commented on #187
In GitLab by @tramyn on Apr 26, 2020, 19:43

mentioned in commit a85807b78382eb63e260be187da739cc8b479392

[2020-06-19 19:58] mwes commented on #187
In GitLab by @tramyn on Jun 12, 2020, 18:58

mentioned in commit f548183c927c59321aba2046cde460edccf66d2a

[2020-06-19 19:58] #187 closed

[2020-06-19 19:58] mwes opened #188 "Create Google Add-on Script"
In GitLab by @tramyn on Mar 4, 2020, 11:26

Currently, the procedure to deploy a new version for intent parser is through a Google Add-on script editor. This script editor has been a reliable source to deploy new releases to intent parser but has recently stopped working. A issue has been filed to Google [here](https://issuetracker.google.com/issues/150325704) and it has been marked as resolve. Ho

[2020-06-19 19:58] mwes commented on #188
In GitLab by @tramyn on Mar 4, 2020, 11:27

changed the description

[2020-06-19 19:58] mwes commented on #188
In GitLab by @tramyn on Mar 4, 2020, 11:27

created merge request !99 to address this issue

[2020-06-19 19:58] mwes commented on #188
In GitLab by @tramyn on Mar 4, 2020, 11:27

mentioned in merge request !99

[2020-06-19 19:58] mwes commented on #188
In GitLab by @tramyn on Mar 23, 2020, 12:15

Code is published and running on a server on Portainer under the name ip-addon-script.

[2020-06-19 19:59] mwes commented on #188
In GitLab by @tramyn on Mar 23, 2020, 12:15

closed

[2020-06-19 19:59] mwes commented on #188
In GitLab by @tramyn on Mar 23, 2020, 16:23

mentioned in commit 74107906033214f9a3a4f9869df331c3f1cc9b7b

[2020-06-19 19:59] #188 closed

[2020-06-19 19:59] mwes opened #189 "Add support for parsing "batch" parameter"
In GitLab by @mweston on Mar 9, 2020, 20:36

XPlan has implemented a new feature required for some requests: assigning measurements to one or more batches. This is an optional parameter, but if present requires parsing and passing through a "batch" parameter from the experiment requests.

Example requests:

https://docs.google.com/document/d/1dwdyyqvm1jPfvjXlZ2dNaLSdk4KE25V10eSnACYBwhE

https://do

[2020-06-19 19:59] mwes commented on #189
In GitLab by @mweston on Mar 10, 2020, 06:59

changed the description

[2020-06-19 19:59] mwes commented on #189
In GitLab by @dbryce on Mar 25, 2020, 11:14

I'm just commenting to say that this one is still relevant to several of our (already processed) ERs.

[2020-06-19 19:59] mwes commented on #189
In GitLab by @mweston on Mar 25, 2020, 11:15

Agree. Thanks @dbryce

[2020-06-19 19:59] mwes commented on #189
In GitLab by @jakebeal on Apr 20, 2020, 09:20

assigned to @tramyn

[2020-06-19 19:59] mwes commented on #189
In GitLab by @tramyn on Apr 26, 2020, 22:35

mentioned in merge request !105

[2020-06-19 19:59] mwes commented on #189
In GitLab by @tramyn on Apr 26, 2020, 22:35

created merge request !105 to address this issue

[2020-06-19 19:59] mwes commented on #189
In GitLab by @mweston on Apr 28, 2020, 18:05

6 documents cannot parse under 2.5 as they make use this batch parameter. These will act as a good test set for this feature:
[code]

[2020-06-19 19:59] mwes commented on #189
In GitLab by @tramyn on May 11, 2020, 14:51

closed via merge request !105

[2020-06-19 19:59] mwes commented on #189
In GitLab by @tramyn on May 11, 2020, 14:51

mentioned in commit d9102d9399027755a9c8835973a93f612c77b852

[2020-06-19 19:59] mwes commented on #189
In GitLab by @tramyn on May 11, 2020, 15:59

@mweston The 6 documents above are failing golden file testing because they are missing doc_revision_ids. Could you generate these files to include them?

[2020-06-19 19:59] mwes commented on #189
In GitLab by @tramyn on May 11, 2020, 15:59

reopened

[2020-06-19 19:59] mwes commented on #189
In GitLab by @mweston on May 11, 2020, 16:01

I can - but this is a bit of a catch 22. I need a version of the intent-parser that supports parsing the batch value and doesn't fail validation (the current version will not parse those documents). Is there a deployed version that has this update that I can use?

[2020-06-19 19:59] mwes commented on #189
In GitLab by @tramyn on May 11, 2020, 16:04

I see. Let me build a new docker image and host it on `http://intentparser2.sd2e.org` for you to use.

[2020-06-19 19:59] mwes commented on #189
In GitLab by @tramyn on May 11, 2020, 16:20

@mweston `http://intentparser2.sd2e.org` is now hosting contents for 2.5.1 release. Please, try it out and let me know if you have questions.

[2020-06-19 19:59] mwes commented on #189
In GitLab by @mweston on May 11, 2020, 17:24

mentioned in merge request cp-request!423

[2020-06-19 19:59] mwes commented on #189
In GitLab by @mweston on May 11, 2020, 17:28

Thanks @tramyn, new JSON generated for those documents (with `doc_revision_id`).

[2020-06-19 19:59] mwes commented on #189
In GitLab by @tramyn on May 18, 2020, 00:33

closed

[2020-06-19 19:59] mwes commented on #189
In GitLab by @tramyn on Jun 12, 2020, 18:58

mentioned in commit 3898e5597b6f3f3c17635ae04175014255c604d9

[2020-06-19 20:00] #189 closed

[2020-06-19 20:00] mwes opened #190 "HTTP 500 Error when Running ip-add-on-script"
In GitLab by @tramyn on Mar 23, 2020, 15:01

The ip-addon-script is throwing an HTTP 500 Error every 1-2 days on Portainer.
Currently, this script is set up to run continuously for updating a list of Google Docs with the intent parser tool as an add-on for every 5 minutes. This script will stop when Google's server throws this HTTP 500 error message. The ip-addon-script server container will need

[2020-06-19 20:00] mwes commented on #190
In GitLab by @tramyn on May 3, 2020, 17:27

mentioned in merge request !110

[2020-06-19 20:00] mwes commented on #190
In GitLab by @tramyn on May 3, 2020, 17:27

created merge request !110 to address this issue

[2020-06-19 20:00] mwes commented on #190
In GitLab by @tramyn on May 4, 2020, 16:50

This type of issue has been reported [here](https://developers.google.com/drive/api/v3/handle-errors#exponential-backoff) by Google Drive's API and the solution for it is to insert delays after the error has occurred.

[2020-06-19 20:00] mwes commented on #190
In GitLab by @tramyn on May 5, 2020, 13:27

closed via merge request !110

[2020-06-19 20:00] mwes commented on #190
In GitLab by @tramyn on May 5, 2020, 19:16

reopened

[2020-06-19 20:00] mwes commented on #190
In GitLab by @tramyn on May 5, 2020, 19:24

mentioned in merge request !111

[2020-06-19 20:00] mwes commented on #190
In GitLab by @tramyn on May 5, 2020, 19:55

closed via merge request !111

[2020-06-19 20:00] mwes commented on #190
In GitLab by @tramyn on May 5, 2020, 19:55

mentioned in commit 92bea4818bfb39d427a121316ca3fa371331caaf

[2020-06-19 20:00] mwes commented on #190
In GitLab by @tramyn on Jun 12, 2020, 18:58

mentioned in commit 40ecadb9ae280dcf3f7b7c904c18842fca1bbf86

[2020-06-19 20:00] #190 closed

[2020-06-19 20:00] mwes opened #191 "Include header timepoints for "NA" values"
In GitLab by @mweston on Apr 21, 2020, 14:52

@tramyn @jakebeal:

@dbryce and I are requesting a hotfix to the intent-parser. This issue is blocking XPlan processing of one of the Strateos NC Cycle Obstacle course runs: https://docs.google.com/document/d/1yVEAeB9pi-5yiQvmp8S2pyMUf2oSL32ZGvSDY6zLP1w

("CP_NovelChassis_OR_Circuit_Cycle1_ObstacleCourse")

The issue is that we are seeing different out

[2020-06-19 20:00] mwes commented on #191
In GitLab by @mweston on Apr 21, 2020, 14:54

changed the description

[2020-06-19 20:00] mwes commented on #191
In GitLab by @mweston on Apr 21, 2020, 14:56

changed the description

[2020-06-19 20:00] mwes commented on #191
In GitLab by @mweston on Apr 21, 2020, 15:09

mentioned in merge request !103

[2020-06-19 20:00] mwes commented on #191
In GitLab by @tramyn on Apr 21, 2020, 18:32

closed via merge request !103

[2020-06-19 20:00] mwes commented on #191
In GitLab by @tramyn on Apr 21, 2020, 18:32

mentioned in commit 51cb79745c2b19c685f3c3739d3ff6761dda7dfe

[2020-06-19 20:00] mwes commented on #191
In GitLab by @tramyn on Apr 21, 2020, 19:07

This is now supported and running on 2.4.1 tag release.
@mweston: if you are happy with this change, please close this issue.

[2020-06-19 20:00] mwes commented on #191
In GitLab by @mweston on Apr 21, 2020, 19:16

Confirm fixed, thanks!

[2020-06-19 20:00] #191 closed

[2020-06-19 20:01] mwes opened #192 "Improve Performance of Intent Parser"
In GitLab by @tramyn on Apr 26, 2020, 20:51

There are a lot of areas in intent parser that could be improved.
For example, caching information and multithreading.

[2020-06-19 20:01] mwes opened #193 "Experiment request produces internal server error under 2.5"
In GitLab by @mweston on Apr 28, 2020, 18:32

Microbe LiveDeadClassification
https://docs.google.com/document/d/1Lwbrnys3FyoikqyYYWAElyvk7zOeZ4VX_o6IjZ0jfHg

This had some invalid entries in its parameter table, including a missing dictionary entry. I added that and corrected the table - everything there should map to a Strateos ID now.

I'm not getting errors on the output - just an internal serv

[2020-06-19 20:01] mwes commented on #193
In GitLab by @mweston on Apr 28, 2020, 18:33

Edit: This is working now. Strange! Is this related to dictionary updates? Some sort of timer or refresh?

[2020-06-19 20:01] mwes commented on #193
In GitLab by @mweston on May 4, 2020, 17:14

This is no longer occurring, going to close.

[2020-06-19 20:01] mwes commented on #193
In GitLab by @mweston on May 4, 2020, 17:14

closed

[2020-06-19 20:01] #193 closed

[2020-06-19 20:01] mwes opened #194 "Add additional golden file tests (7)"
In GitLab by @mweston on Apr 28, 2020, 18:46

The following experiments have been processed and should be put under golden file testing.

[code]

[2020-06-19 20:01] mwes commented on #194
In GitLab by @mweston on Apr 28, 2020, 18:46

changed the description

[2020-06-19 20:01] mwes commented on #194
In GitLab by @mweston on Apr 28, 2020, 18:46

changed the description

[2020-06-19 20:01] mwes commented on #194
In GitLab by @mweston on May 4, 2020, 13:02

changed the description

[2020-06-19 20:01] mwes commented on #194
In GitLab by @mweston on May 18, 2020, 13:56

@jakebeal @tramyn can this be added to 2.5.1? It should be straightforward as these documents have revision_ids. Given that golden file testing is manual/opt-in, I'd encourage supporting coverage against a larger set of files so that we don't miss anything.

[2020-06-19 20:01] mwes commented on #194
In GitLab by @tramyn on May 18, 2020, 14:06

@mweston There are no issue with this request. I can go ahead and add them now.

[2020-06-19 20:01] mwes commented on #194
In GitLab by @mweston on May 18, 2020, 14:07

Great, thanks!

[2020-06-19 20:01] mwes commented on #194
In GitLab by @tramyn on May 18, 2020, 14:17

created merge request !114 to address this issue

[2020-06-19 20:01] mwes commented on #194
In GitLab by @tramyn on May 18, 2020, 14:17

mentioned in merge request !114

[2020-06-19 20:01] mwes commented on #194
In GitLab by @tramyn on May 18, 2020, 15:40

closed via merge request !114

[2020-06-19 20:01] mwes commented on #194
In GitLab by @tramyn on May 18, 2020, 15:40

mentioned in commit 21124d71583b1bba922c3262382ba7fd3dd07680

[2020-06-19 20:01] mwes commented on #194
In GitLab by @tramyn on Jun 12, 2020, 18:58

mentioned in commit b657fd402c2007f4d495d5efc01a68b4586762ec

[2020-06-19 20:01] #194 closed

[2020-06-19 20:01] mwes opened #195 "Design REST target for "Go" button to invoke"
In GitLab by @jakebeal on Apr 29, 2020, 15:32

Per discussion on #179, we plan to have a "Go" command in the Intent Parser that can request experiment initiation via a RESTful API.

We will need an appropriate such API designed, such that an instance can be built on the TACC side and a set of invocations be targeted for it on the Intent Paresr side.

[2020-06-19 20:01] mwes commented on #195
In GitLab by @tramyn on Jun 11, 2020, 18:15

@mweston, do you and/or @dbryce have some procedure/workflow set up to convert a structured request generated from intent parser into something that reactor can used to run an experiment? If so, can we manipulate your setup to define a set of invocations for this TACC "Go" API?

[2020-06-19 20:02] mwes commented on #195
In GitLab by @mweston on Jun 12, 2020, 13:53

@tramyn Yes, this is automated from the "intent-parser" down. That is we call the reactor with a message that tells it to process an ER URL. We call the intent-parser, then pass the output to XPlan, which then calls Strateos.

@dbryce We'll need to do some work here. Currently the intent-parser has very little knowledge of some of the Strateos semantic

[2020-06-19 20:02] mwes commented on #195
In GitLab by @mweston on Jun 15, 2020, 11:40

@tramyn I suggest we start with known arguments, namely:

[code]

Is it possible to display this in an editable text box before sending? This would allow the user to fill in the remaining JSON parameters themselves, which the intent parser currently doesn't know about. Things like:

[code]

You can target the REST API here:

https://gitlab.sd2e.org/sd2

[2020-06-19 20:02] mwes commented on #195
In GitLab by @tramyn on Jun 15, 2020, 14:20

Yes, I can set up something for you to insert JSON parameters but can we not expand the parameter tables in an ER document to include these extra information? Does it not make sense to group these information with the protocol parameters?

[2020-06-19 20:02] mwes commented on #195
In GitLab by @mweston on Jun 15, 2020, 14:30

That could work work - these specific parameters would need to go at the top of the JSON message vs. in `default_parameters` (see the example message). If that's something we can do, let's move forward with that.

[2020-06-19 20:02] mwes opened #196 "TACC "Go button" target"
In GitLab by @jakebeal on Apr 29, 2020, 15:33

Following #194, we will need to set up a service on TACC to actually provide an instance of the RESTful API for the "Go button" to invoke.

[2020-06-19 20:02] mwes commented on #196
In GitLab by @mweston on Jun 15, 2020, 11:32

This has been stubbed out. You can currently post to the following endpoint, with the target message being worked out in: https://gitlab.sd2e.org/sd2program/experimental-intent-parser/issues/194

e.g. replace the "from_ip" test message below with the populated one above in $194

[code]

For authorization you will need to provide a nonce query parameter

[2020-06-19 20:02] mwes commented on #196
In GitLab by @tramyn on Jun 15, 2020, 14:39

@mweston I tried running the above curl command and this is what I got:
[code]

Am I suppose to replace `from_ip` with a string representation or a json representation of IP parameter values?

[2020-06-19 20:02] mwes commented on #196
In GitLab by @mweston on Jun 15, 2020, 15:16

@tramyn you need to fill in the nonce authorization that I sent you. Specifically the note here about:

"For authorization you will need to provide a nonce query parameter. I'll send that through a separate channel."

`messages?x-nonce=$NONCE`

Replace $NONCE with the string I sent you (or populate that as an environment variable) and it should work.

[2020-06-19 20:02] mwes opened #197 "Implement "Go button" via RESTful API call"
In GitLab by @jakebeal on Apr 29, 2020, 15:37

Following #194, we will need to implement a "Go button" --- though probably actually as a menu item, not a button.

On the back-end, this will be implemented as invocation of a RESTful API to request an experiment execution.  In the case of SD2, this will be a single service implemented on TACC, but in general might be a separate interface for each la

[2020-06-19 20:02] mwes commented on #197
In GitLab by @tramyn on Jun 11, 2020, 18:16

@jakebeal @mweston If this feature is called from intent parser, then intent parser will send a request to TACC's "GO" API with information mentioned [here](https://gitlab.sd2e.org/sd2program/experimental-intent-parser/issues/179#note_17092) in a json data format. TACC's "GO" API unpackages the receiving information and communicate with reactor to execu

[2020-06-19 20:02] mwes commented on #197
In GitLab by @jakebeal on Jun 12, 2020, 09:27

Yes, that's my understanding of what @mweston plans to implement.

[2020-06-19 20:02] mwes commented on #197
In GitLab by @tramyn on Jun 12, 2020, 13:22

mentioned in merge request !120

[2020-06-19 20:02] mwes commented on #197
In GitLab by @tramyn on Jun 12, 2020, 13:22

created merge request !120 to address this issue

[2020-06-19 20:02] mwes commented on #197
In GitLab by @mweston on Jun 12, 2020, 14:40

@tramyn @jakebeal yes this is correct.

[2020-06-19 20:02] mwes opened #198 "Report experiment status into document"
In GitLab by @jakebeal on Apr 29, 2020, 15:40

Following #194, we will also want to be able to report the state of an experiment from the pipeline into the document.

This will likely take the form of a "mini-table" that is either immediately above the specification table (e.g., connected with the lab name mini-table) or immediately below the specification table.

For an initial architecture, this

[2020-06-19 20:02] mwes commented on #198
In GitLab by @tramyn on Jun 11, 2020, 18:15

@jakebeal, @mweston

From what I understand, this new table will be created from issue #196.
Intent parser will not parse information from this table but rather write information to this table every X minute time interval. Information written to this table will report the current status of an experiment request document. The status reported in this new

[2020-06-19 20:02] mwes commented on #198
In GitLab by @jakebeal on Jun 12, 2020, 09:28

That's correct, modulo the fact that we'd not necessarily execute the write if nothing's changed in the last X minutes.

[2020-06-19 20:02] mwes commented on #198
In GitLab by @tramyn on Jun 12, 2020, 13:18

@jakebeal What is a specification table in this case?

[2020-06-19 20:02] mwes commented on #198
In GitLab by @tramyn on Jun 12, 2020, 13:21

mentioned in merge request !119

[2020-06-19 20:02] mwes commented on #198
In GitLab by @tramyn on Jun 12, 2020, 13:21

created merge request !119 to address this issue

[2020-06-19 20:03] mwes commented on #198
In GitLab by @mweston on Jun 12, 2020, 13:58

@tramyn @jakebeal you should review the project dashboard, which currently receives automated updates on the experiment from submission all the way to ingest, ETL, data converge, and pre-computed table processing. The program currently uses this as a single point of reference for the status of an experiment and all of its related states and data produc

[2020-06-19 20:03] mwes commented on #198
In GitLab by @tramyn on Jun 12, 2020, 14:31

@mweston Are there instructions you can point me to for querying this MongoDB table?

[2020-06-19 20:03] mwes commented on #198
In GitLab by @mweston on Jun 12, 2020, 15:25

@tramyn sure, this will get you started. I'll send you credentials through a different channel.

[code]

[2020-06-19 20:03] mwes commented on #198
In GitLab by @tramyn on Jun 18, 2020, 00:56

@mweston will you evaluate this mock up [status table](https://docs.google.com/document/d/1GJydNCNmiTTyf8m5LjBfEhMblLvaCincK8SBwbsg1t4/edit) and let me know if the contents in this table is of interest for a user to check on the status of an experiment?

[2020-06-19 20:03] mwes commented on #198
In GitLab by @mweston on Jun 18, 2020, 08:23

Yes, this is a good start. There's other information in the database table that folks use that you'll want to pull out as well:

Overnight Growth
Recovery Loops
The path to the structured request

and most importantly the experiment id(s). A single ER can produce multiple experiment ids when it is interpreted and executed by Strateos and and XPlan

ex.

[2020-06-19 20:03] mwes opened #199 "Improve Logging information"
In GitLab by @tramyn on May 4, 2020, 17:26

Update logging information to be more informative such that when errors occur, they are easier to detect and understand.

[2020-06-19 20:03] mwes opened #200 "Switch over to pySBOL2"
In GitLab by @tmitchel on May 6, 2020, 11:56

The [pySBOL2](https://github.com/synbiodex/pySBOL2) module should be a drop in replacement for pySBOL. Convert over to it, or determine what features are missing and prevent switching over.

A preliminary test was run and indicated that the intent parser should be compatible with pySBOL2.

[2020-06-19 20:03] mwes commented on #200
In GitLab by @tmitchel on May 6, 2020, 11:57

created branch [`199-switch-over-to-pysbol2`](/sd2program/experimental-intent-parser/compare/develop...199-switch-over-to-pysbol2) to address this issue

[2020-06-19 20:03] mwes commented on #200
In GitLab by @tramyn on May 6, 2020, 13:50

@tmitchel Is there API documentation for pysbol2 that I can have a look?
I need to update 2 function calls. One for creating a TopLevel object and another for a URIProperty.

[2020-06-19 20:03] mwes commented on #200
In GitLab by @tmitchel on May 6, 2020, 13:54

@tramyn if it doesn't work they way it did with pySBOL then it's a bug. Please file a bug report for us to fix. https://github.com/synbiodex/pySBOL2

If you can reference code to demonstrate usage that would be an added bonus.

[2020-06-19 20:03] mwes commented on #200
In GitLab by @tmitchel on May 6, 2020, 14:13

Here are the two bug reports that need to be fixed for integration:
* https://github.com/SynBioDex/pySBOL2/issues/223
* https://github.com/SynBioDex/pySBOL2/issues/224

[2020-06-19 20:03] mwes commented on #200
In GitLab by @tramyn on May 8, 2020, 13:35

closed

[2020-06-19 20:03] mwes commented on #200
In GitLab by @tramyn on May 8, 2020, 13:36

mentioned in merge request !112

[2020-06-19 20:03] mwes commented on #200
In GitLab by @tramyn on May 8, 2020, 13:53

assigned to @tramyn

[2020-06-19 20:03] mwes commented on #200
In GitLab by @tramyn on May 8, 2020, 13:54

mentioned in commit 67ad54c18fd75af401ed01a534ef0f5646727657

[2020-06-19 20:03] mwes commented on #200
In GitLab by @tramyn on May 8, 2020, 14:15

reopened

[2020-06-19 20:03] mwes commented on #200
In GitLab by @tramyn on May 8, 2020, 17:47

closed

[2020-06-19 20:03] mwes commented on #200
In GitLab by @tramyn on Jun 12, 2020, 18:58

mentioned in commit cff4c648a859f959a5ff55c8fe17595df62efcf2

[2020-06-19 20:03] #200 closed

[2020-06-19 20:03] mwes opened #201 "Google Doc with multiple intent parser addon will not use the latest addon install"
In GitLab by @tramyn on May 19, 2020, 19:41

There are a number of Google Docs that have been found with multiple versions of intent parser addon. In this condition, it is unclear how a Google Doc decides which version of intent parser it will run on. This is problematic when we make a new release of intent parser with new features that are built for the GUI. In this scenario, a user will not be a

[2020-06-19 20:03] mwes commented on #201
In GitLab by @tramyn on May 21, 2020, 17:34

@jakebeal [Here](https://docs.google.com/spreadsheets/d/1JcTjlN7bpo-O2XPz5NUPS1KBmhOm6aLuunIHPUffg3Y/edit#gid=0) is a list of documents that have incorrect version of intent parser binding to a Google Document. I have gone through the list and remove versions of intent parser that are considered obsolete. Notice that there are three tabs in this spreads

[2020-06-19 20:04] mwes commented on #201
In GitLab by @tramyn on Jun 10, 2020, 15:29

Moving to 2.7 release. Was able to fix a number of documents but there are still 14 documents that rely on others to provide me ownership access to these files to make the necessary fix.

[2020-06-19 20:04] mwes opened #202 "Intent Parser returning intermittent HTTP 500 Error"
In GitLab by @mweston on May 26, 2020, 17:25

@dbryce noticed some issues parsing an experiment request:

http://intentparser.sd2e.org/document_request?1fFcxyJyheMrzSsVoSsO6v7qHJKFf_0heIFtqEur02cg

Trying to reproduce, I built out a minimal example:

[code]

Running this gives inconsistent results. Sometimes we'll get the JSON returned, and sometimes we'll get an HTTP 500.

Running more than one i

[2020-06-19 20:04] mwes commented on #202
In GitLab by @tramyn on May 26, 2020, 17:34

@mweston Will look into this now.

[2020-06-19 20:04] mwes commented on #202
In GitLab by @mweston on May 26, 2020, 17:36

I was able to pull the following traces from the logs. It looks like the container eventually crashes at the end.

[INFO    ] 2020-05-26 21:31:20,990  intent_parser_server.py line:174   Traceback (most recent call last):
  File "/usr/src/intent_parser/server/intent_parser_server.py", line 166, in handle_client_connection
    self.handle_GET(httpMessage

[2020-06-19 20:04] mwes commented on #202
In GitLab by @mweston on May 26, 2020, 17:40

@tramyn this may be relevant: https://github.com/googleapis/google-api-python-client/blob/master/docs/thread_safety.md

From: https://github.com/googleapis/google-api-python-client/issues/37

[2020-06-19 20:04] mwes commented on #202
In GitLab by @tramyn on May 26, 2020, 18:43

@mweston, I agree, this looks like a threading issue.
I will try addressing this in milestone 2.6. In the meantime, rerunning the requests should work.

[2020-06-19 20:04] mwes commented on #202
In GitLab by @mweston on May 28, 2020, 11:42

mentioned in merge request cp-request!438

[2020-06-19 20:04] mwes commented on #202
In GitLab by @tramyn on May 28, 2020, 14:44

mentioned in merge request !115

[2020-06-19 20:04] mwes commented on #202
In GitLab by @tramyn on May 28, 2020, 14:44

created merge request !115 to address this issue

[2020-06-19 20:04] mwes commented on #202
In GitLab by @tramyn on Jun 10, 2020, 13:06

@mweston Pushing issue to 2.8 milestone in order to address others that are higher in priorities.

[2020-06-19 20:04] mwes commented on #202
In GitLab by @mweston on Jun 10, 2020, 13:17

@tramyn this is a reliability issue that we currently have to work around - I request we fix this vs. working on new features next after 2.6 is released.

[2020-06-19 20:04] mwes commented on #202
In GitLab by @tramyn on Jun 10, 2020, 14:57

@mweston, Can you provide me reasons on why this is classified as a high priority issue? Right now, I see this issue as a medium to low priority. I am hesitant to address this issue in 2.6 because a lot of code changes were made to support parsing control tables and linking URIs correctly. I want to minimize the type of issues that could occur with this

[2020-06-19 20:04] mwes commented on #202
In GitLab by @mweston on Jun 10, 2020, 16:15

@tramyn sure. Your change pushed this issue back to 2.8 - this is two releases away (we're currently at 2.6, 2.7 is next). I am requesting this be looked at in 2.7 next before we do any new feature requests. Alternatively something like a minor fix release of "2.6.1".

This is a small change, but it's important. Currently, any call to the intent-parser

[2020-06-19 20:04] mwes commented on #202
In GitLab by @tramyn on Jun 10, 2020, 16:19

@mweston Okay, these are valid reasons. I will try to address this in 2.6.1 if it is easy enough to resolve. Otherwise, I will need to bump this to 2.7.

[2020-06-19 20:04] mwes commented on #202
In GitLab by @tramyn on Jun 18, 2020, 01:14

@mweston the above solution is producing a google credential issue that intent parser will need to address. This credential issue occurs when fetching information from the SD2 Dictionary Maintainer. I'm not positive if the above solution will resolve this issue but I'll know more after I spend some time isolating each google APIs to run with its own cre

[2020-06-19 20:04] mwes commented on #202
In GitLab by @mweston on Jun 18, 2020, 08:17

@tramyn interesting - what is the error? The specific change has to do when building the service - passing in either a new http2 library for each service, or re-using one. You shouldn't need to run with separate credentials here for each service call.

[2020-06-19 20:04] mwes opened #203 "Issue Parsing Strain URIs"
In GitLab by @mweston on May 27, 2020, 10:24

#### Issue description

When parsing an experiment request with a list of defined strains using SynBioHub URIs, the strains do not appear to parse correctly. Instead of parsing the full URI, the URIs are seperated into "https" and the remaining part of the string, e.g.

"strains": ["https", "//hub.sd2e.org/user/sd2e/design/UWBF_6390/1", ...]

This appe

[2020-06-19 20:04] mwes commented on #203
In GitLab by @tramyn on May 27, 2020, 14:35

@mweston, this issue was introduced because colons `:` are used as separators to parse information from a lab table. If we want to fully resolve this issue, I will need clarifications on how strains should be parsed.
Intent parser currently reads in strains as strings. However, the [data catalog schema](https://hub.sd2e.org/user/sd2e/design/UWBF_7376/1)

[2020-06-19 20:04] mwes commented on #203
In GitLab by @mweston on May 28, 2020, 12:57

@tramyn Sure, per the [schema](https://schema.catalog.sd2e.org/schemas/structured_request.json) strains can be either a common name, like `UWBF_7376` or a synbiohub URI, e.g. `https://hub.sd2e.org/user/sd2e/design/UWBF_7376/1`. Both are strings.

So the desired intent parser output here is either a common name string or a SBH URI string (both are accep

[2020-06-19 20:04] mwes commented on #203
In GitLab by @tramyn on May 28, 2020, 13:52

@mweston Yes, I agree that parsing a string with a colon is a bug produced from intent parser. I can modify the way strings are parsed from intent parser to interpret URIs but there is another issue that isn't clear to me how intent parser should handle. For the example above where AND_00 is provided, what is  intent parser's expected return value here?

[2020-06-19 20:04] mwes commented on #203
In GitLab by @mweston on May 28, 2020, 13:58

@tramyn I see the discrepancy, thanks for raising it. We should do the following:

- If the user provides a string (no link): Pass this through.
- If the user provides string that is linked to a target: Pass the link *target* through. You can ignore whatever text they provided. For your row 3 and 4 this is `https://hub.sd2e.org/user/sd2e/design/UWBF_73

[2020-06-19 20:05] mwes commented on #203
In GitLab by @tramyn on May 28, 2020, 14:24

@mweston Sounds good. I'll resolve this issue in 2 releases. The first release will support this condition (*If the user provides a string (no link): Pass this through.*). This will resolve your current situation with parsing strains. This shouldn't take much time to fix and I can get it up and running by the end of today or early tomorrow morning. I'll

[2020-06-19 20:05] mwes commented on #203
In GitLab by @tramyn on May 28, 2020, 14:44

mentioned in merge request !116

[2020-06-19 20:05] mwes commented on #203
In GitLab by @tramyn on May 28, 2020, 14:44

created merge request !116 to address this issue

[2020-06-19 20:05] mwes commented on #203
In GitLab by @tramyn on May 28, 2020, 19:32

@mweston I have a new release running on `http://intentparser2.sd2e.org`. This release should address intent parser's issue with reading strains specified as a URI.

I can go ahead and update the production server `http://intentparser.sd2e.org`. But before I do, let me know when you are okay with me stopping the production server for a minute to update

[2020-06-19 20:05] mwes commented on #203
In GitLab by @mweston on May 28, 2020, 19:50

@tramyn Thanks. Can you clarify? Pending requests that are still processing?

[2020-06-19 20:05] mwes commented on #203
In GitLab by @mweston on May 28, 2020, 19:53

@tramyn the document parsed by `http://intentparser2.sd2e.org` looks correct.

[2020-06-19 20:05] mwes commented on #203
In GitLab by @tramyn on May 28, 2020, 19:59

@mweston Great. 'http://intentparser.sd2e.org' is updated with a new build.

[2020-06-19 20:05] mwes commented on #203
In GitLab by @tramyn on Jun 8, 2020, 19:22

closed via merge request !116

[2020-06-19 20:05] mwes commented on #203
In GitLab by @tramyn on Jun 8, 2020, 19:22

mentioned in commit bdc86548c6cbc3f0c062abff6233ae1d8e365b3b

[2020-06-19 20:05] mwes commented on #203
In GitLab by @tramyn on Jun 12, 2020, 18:58

mentioned in commit e02a22a851b51fc4542e96d1ec74bb162824d512

[2020-06-19 20:05] #203 closed

[2020-06-19 20:14] myers commented on #120
You rang?  Oh, hey, no idea what Chris Myers's github handle is, but it's not @myers.

[2020-06-19 20:32] mwes commented on #120
Aha - this was from a conversion from an internal GitLab repository to GitHub. We didn't get the user map correct it would appear. Sorry about that.

[2020-06-19 21:59] nwalczak commented on #120
It looks like you mapped @nwalczak to this incorrectly as well because I have no idea what any of this is.

[2020-06-22 16:51] tramyn opened #204 "Enforcing requirement for commas as token-breaks"
IP is generating odd spacings as output. This issue can be produced by parsing table cell's with irregular usage of new lines as token breaks. When this happens, IP throws an Invalid Value error without clearly reporting that a commas should be used as a token break. IP should change this error report to reflect this.

[2020-06-22 18:35] jakebeal opened #205 "Allow URIs in SR/ER strain information"
Currently the structured / experimental requests require lab IDs for strains. Over time, these need to migrate to using SynBioHub URIs instead.  The likely intermediate point is a structure that provides both (and possibly also common names from the dictionary).

The first step that needs to happen here is to allow the consumers of structured requests to support such structures.

[2020-06-22 19:38] jakebeal opened #206 "Add Strain URIs in structured request output"
After #205 is completed, update the structured request output to include strain URIs, following the format @mwes develops for #205.

[2020-06-22 19:41] jakebeal opened #207 "Update golden files with strain URIs"
Following #205, update golden files to have URIs for strains.  Keep this on a branch for @tramyn to test against in developing #206.  Both #206 and this issue should have for their merges run at the same time.

[2020-06-25 22:19] tramyn commented on #195
@mwes how have you been using results generated from IP for parsing information from a parameter table? Are you modifying its content in order to get it in a form that Dan Bryce will need to run protocols with the parameters generated from IP?

I ask this question because IP follows a specific format in order to generate an output for default parameters.
If you recall in an old discussion about [p

[2020-06-29 13:09] jakebeal commented on #132
This has been completed.

[2020-06-29 13:09] #132 closed

[2020-06-29 13:25] jakebeal commented on #201
There are only three recent document remaining; the others are too old to likely be significant.
We have added notes to these documents that say that they will not be fixed unless the owner transfers and requests a fix. Closing this issue for now as sufficiently resolved and ball no longer in our court.

[2020-06-29 13:25] #201 closed

[2020-06-29 13:26] jakebeal commented on #196
Now in @tramyn court with #197, #198

[2020-06-29 13:26] #196 closed

[2020-06-29 13:27] jakebeal commented on #180
Closing as transferred into child issues.

[2020-06-29 13:27] #180 closed

[2020-06-29 15:41] mwes commented on #195
@tramyn this is fine. You should reverse the parameters attributes in the table (via the dictionary mapping), and pass the resulting field name through, like you currently do. We will then either convert for XPlan, or XPlan will be updated to read the hierarchical format. No IP changes related to parameter formatting are required from what I can see.

[2020-06-29 15:48] tramyn commented on #195
@mwes Can IP use the data catalog schema to validate an experimental request or is this something that TACC's "Go" API will handle when making a request?

[2020-06-29 15:48] mwes commented on #205
Using the current SBH linking approach, I suggest the following:

- We require users to provide linked strains as part of the ER.
- The _text_ of the linked strain entry is the lab ID, the _linked URI_ is the SBH URI

When parsing into the SR JSON, instead of outputting the list of strains as an array of strings, we should provide an array of objects, e.g.:

[code]

With the label coming from the

[2020-06-29 15:49] mwes commented on #206
Proposed process and output format in https://github.com/SD2E/experimental-intent-parser/issues/205

[2020-06-29 15:52] mwes commented on #195
@tramyn Good question. Validation occurs automatically upon receipt of the message by the reactor - so no additional validation code or checks need to be written here.

[2020-06-29 16:38] tramyn commented on #205
@mwes this makes sense. IP can definitely verify strain lookup before generating a structured request. I would make one modification to your second suggestion where IP prompts a user to verify and confirm mapping in the dictionary.  This second suggestion is already handled by IP's "Analyze from top" or "Analyze from cursor" feature. From what I understand, and @jakebeal can correct me if I am wro

[2020-06-29 17:01] mwes commented on #205
Your suggestion sounds good to me. Based on the current help documentation, we can currently:

- Look for _existing_ dictionary entries and suggest them as links in the document ("Analyze..")
- Look at words that are flagged by spelling, and suggest as possible entries in SBH ("Suggest additions")
- Manually add SBH dictionary terms

In this case we already have linked terms, so analyze and sugges

[2020-06-29 18:55] tramyn commented on #195
@mwes How does TACC's "Go" API interpret multiple request on the same experiment? I have set up IP to indicate to its user whether their request to execute an experiment was successful by popping up a message dialog box that report the status of their request. However, this type of message will not be as valuable if we have different users calling "Execute Experiment" on the same experiment docume

[2020-06-29 18:59] mwes commented on #195
There's no need to enforce or limit this from your API. XPlan has checks and Strateos' API ultimately has the final say in whether it actually gets run or not. If accepted, structured request documents will be created automatically, and will show up in the database (from which the dashboard reads). They will have "submitted" entries, but not upload or ingest until they are actually run.

[2020-06-29 19:01] tramyn opened #209 "Improve performance to Analyze/Suggestion functions"
Look into improving performance for analyzing/suggesting linked terms to SBH.

[2020-06-29 19:12] tramyn commented on #195
Okay, then that makes it much simpler for IP to handle. Thanks @mwes for clarifying this last bit of information.

[2020-06-29 19:15] tramyn commented on #205
@mwes Great! I have created #209 to improve performance for analyzing/suggesting functions. We will try to address both these issues in 2.8 milestone.

[2020-06-29 19:21] tramyn commented on #198
@mwes could you document what this status report mean? It's not clear to me what each of these fields represent.

[2020-06-29 22:35] mwes commented on #198
Sure: https://schema.catalog.sd2e.org/schemas/structured_request.json

Status is a dictionary of keys (these are enumerated), each of which can contain a `path` (Agave path, or string of catalog/catalog_staging/unspecified), `state` (boolean), and `last_updated` (date-time)

This tells us when certain states are achieved by the pipeline: submitted to the lab, uploaded, converted, annotated, ingest

[2020-07-06 16:45] tramyn opened #210 "Interpret values for strains as text and ignore hyperlinks"
XPlan is sensitive to the strain output - e.g. sometimes names are expected and sometimes URIs are expected. For this release, ignore hyperlinks when parsing strains and parse strain information as regular text.

[2020-07-06 16:45] #210 closed

[2020-07-06 20:59] tramyn commented on #198
@mwes To implement this request, IP expect that an experiment_id must be specified within a lab table in order to generate the desired status table. If this information is not provided in an experiment document, then IP has no way of knowing what status table to insert to the document. I have tried looking through this [ER folder](https://drive.google.com/drive/folders/1FYOFBaUDIS-lBn0fr76pFFLBbMe

[2020-07-06 21:17] tramyn opened #211 "Clearly represent experiment"
Overnight Growth and recovery loops are used in two different places to express actual and expected experiment result/outcome. We need to define how this should be represented in an experiment document.

[2020-07-06 21:31] mwes commented on #211
One is the _input_ (in the parameters)- what the user requested/expected, the other is _output_ (in the structured request table) - what the lab did/reported. As we've seen, it's useful to have both, because expected does not always equal actual.

All of the consumers of the current table/dashboard review the output value.

[2020-07-06 21:43] #197 closed

[2020-07-06 21:44] #195 closed

[2020-07-06 23:40] mwes commented on #198
@tramyn Recall that ER does not know/cannot know the experiment ids ahead of time here. These are controlled and produced by Strateos after XPlan processes the resulting SR. The query I provided above will resolve to the correct child SRs this ER URL produces, which will include the experiment id(s) you need: https://github.com/SD2E/experimental-intent-parser/issues/198#issuecomment-646840850

Not

[2020-07-07 20:46] tramyn commented on #198
@mwes Oh right. Then the template that we have [here](https://docs.google.com/document/d/1GJydNCNmiTTyf8m5LjBfEhMblLvaCincK8SBwbsg1t4/edit) should be good to follow off of. Specifically, the key here is to have IP update the lab table with an experiment_id and an experiment status property to connect information between a lab table and an experiment status table. Then, this will open up opportunit

[2020-07-08 11:43] mwes commented on #198
@tramyn are you expecting the user to fill the below out or to programmatically generate it? With the above query, you can generate it (and the resulting status table), which my recommendation. The lab is not unique - e.g. Transcriptic can appear multiple times. Experiment id values are unique.

[code]

[2020-07-08 18:41] tramyn commented on #198
@mwes I was thinking of the latter (programmatically generate it) to fill in experiment_id and experiment_status to a lab table. But, now I'm not sure I understand why a lab name is not unique to an experiment. What information can I get differently if a lab can appear multiple times but with different experiment_ids?

[2020-07-08 19:56] mwes commented on #198
Yes, the experiment_id is unique, but both of them come from the same ER, and were run by the same lab.

[2020-07-13 13:16] jakebeal commented on #124
This is obsolete: 11x17 landscape seems to handle this sufficiently well.

[2020-07-13 13:16] #124 closed

[2020-07-13 13:35] tramyn commented on #147
I believe this issue has been addressed. @mwes are there additional changes you want IP to support for handling error message for validation?

[2020-07-13 14:07] mwes commented on #147
Hi @tramyn, per testing, this is still unresolved, with the base case still reproducible. Any experiment requests not in a directory that automatically provides its Challenge Problem enumeration (YeastStates, Novel Chassis, etc.) will fail. The generation defaults to "Unknown", which is not a valid challenge problem, so it correctly fails validation. For this particular instance of a validation er

[2020-07-13 16:37] tramyn commented on #202
@mwes I looked into this issue and it turns out that IP was maxing out it's given quota for fetching information from the SBOL Spreadsheet. To resolve this, I had to filter through IP to ensure that functions accessing the spreadsheet should use IP's cached version of the spreadsheet and not directly calling the API. As it turns out, one function had this issue and to confirm it further, this func

[2020-07-13 16:52] mwes commented on #202
Great, thanks @tramyn

[2020-07-13 18:12] tramyn commented on #147
Okay, then it looks like this issue is best classified under milestone 2.8 (cleaning up known UI issues).

[2020-07-13 18:16] mwes commented on #147
Sounds good to me.

[2020-07-15 17:19] tramyn opened #212 "Make tables with optional features visible to users"
IP supports a variety of features that are accessible by adding optional fields to tables within an experiment request document. However, these optional fields are not visible in a document to alert a user of what their options are unless the user is creating the table for the first time by accessing the IP's drop down menu. We should explore features (action items) that are supported in Google Do

[2020-07-16 17:46] tramyn opened #213 "Analyze Timeout"
Running "Analyze from cursor" and "Analyze from top" will make IP hang for some time.
After some duration, "Exceeded maximum execution time" error message appears in the document.

[2020-07-16 22:55] #213 closed

[2020-07-24 17:34] #198 closed

[2020-07-25 04:12] tramyn commented on #202
This should be fixed in 746ae7d.

[2020-07-25 04:12] #202 closed

[2020-07-27 14:20] tramyn opened #217 "Script to synchronize experiment status not updating documents"
It isn't clear if the script used for synchronizing experiment status into Google docs is working as expected or if the google documents running in the script are missing information for the updates to happen. So far, the script has been left running for a complete cycle where all experiment request documents are expected to be inserted with experiment specification and experiment status tables. T

[2020-07-27 19:27] jakebeal opened #218 "Analytical intent generalization from controls."
Analytical intent should be able to be generalized fairly simply by building off of #93.

@mwes please provide a specification to be targeted, and then reassign to @tramyn for implementation.

[2020-07-28 20:30] tramyn commented on #134
@mwes I believe IP supports this. Could you confirm?

[2020-07-29 01:38] mwes commented on #134
Hi @tramyn - yes this is currently supported.

[2020-07-29 02:00] mwes opened #219 "Intent Parser 2.7 Generation Failing in Production"
I can't seem to run the intent parser for _most_ experiment requests:

Examples that fail (I can produce many more of these if you need more examples, just let me know):
http://intentparser.sd2e.org/document_request?1fFcxyJyheMrzSsVoSsO6v7qHJKFf_0heIFtqEur02cg
http://intentparser.sd2e.org/document_request?1D9hXd5Hmeb75FGH0sGq93KjCOjHKD26x8HXluNJLII8

Examples that succeed:
http://intentparser.sd2e

[2020-07-29 03:46] tramyn commented on #219
@mwes This error occurred because IP's docker image did not include this commit (c30f6c1 ) in the build. I had to rebuild IP a new image to include it. This problem should be resolved. Please confirm.

[2020-07-29 11:44] mwes commented on #219
Thanks @tramyn confirm fixed.

[2020-07-29 11:44] #219 closed

[2020-07-29 17:45] #134 closed

[2020-07-29 21:19] tramyn commented on #143
@mwes I need more information about this feature request. What would you like IP to generate in a measurement table when specifying "3 reagents at 4 timepoints"? I have created 3 types of measurement table templates in this document [here](https://docs.google.com/document/d/1JNdhNm9iVezFzDE1q6ofJcMn2-3mEhExP6ggtKCZcHI/edit?usp=sharing) that IP can generate for this request. Does any of these optio

[2020-07-30 00:46] jakebeal commented on #143
@tramyn This is actually from me, not @mwes ; he's just identified due to the transfer.

In the examples you've got the second form following how I'd been thinking about it.

[2020-07-30 01:02] mwes commented on #218
My suggested path forward:

1. @mwes extend schema to support specification of schema-controlled sample tags based on the existing control definition structures
2a. @mwes update all existing SRs, run tag annotation for all experiments
2b. (in parallel) @tramyn targets specification defined in 1 through IP interface; we use this for all new ERs going forward

[2020-07-30 21:48] tramyn commented on #147
@jakebeal for this issue, does it make sense for IP to generate a default challenge problem or would you rather stick with your original request to have IP report a human readable error and have the user check where their document is located in SD2 Google Drive folder?

[2020-07-30 22:07] tramyn commented on #147
@mwes I noticed that [data catalog](https://schema.catalog.sd2e.org/schemas/challenge_problem_id.json) accepts an "UNDEFINED" value when validating a SR challenge problem. When will a challenge problem get classified as "UNDEFINED"? Should a document not located in the desired SD2 folder be treated similarly to documents that are in the SD2 experiment request folder and have its challenge problem

[2020-07-31 12:09] mwes commented on #147
@tramyn the mapping function you're using either populates a successful challenge problem mapping or it does not - the success is binary. It does not return `UNDEFINED` - this is a placeholder value in the enumeration we don't use.

`Unknown` looks like a default that is coming from the intent parser and is not a valid value, hence the schema validation error: https://github.com/SD2E/experimental-

[2020-08-05 18:25] #147 closed

[2020-08-05 21:43] danbryce opened #220 "Request which containers to use for experiment"
XPlan requires a specification for the containers to use for each experiment.  They can be of the form:

['container_search_string', 'container_search_string']
['container_id_1', 'container_id_2']
'generate'

[2020-08-06 13:28] mwes commented on #220
@danbryce do you expect both arrays and then an additional value ('generate')? Or would the user just list out the containers of interest? If the latter, and the IP can generate this, we can pass it through to XPlan.

[2020-08-06 21:22] mwes commented on #209
NC attempting to use SBH lookups in: https://docs.google.com/document/d/1QqJbcCXTasAgm0_0_i1wRyZLt7wL-oK5ol6slV6syYk/edit#

https://sd2e.slack.com/archives/C931AH9LY/p1596748757364900?thread_ts=1596730558.356800&cid=C931AH9LY

Enoch Yeung
@mark.weston - we ran into issues with the linking of reagents with the SBH URIs.  After running the “analyze from cursor” step, it fails to search  on SynBioHub

[2020-08-06 21:28] YeungRepo commented on #209
Here is a screenshot of the error:

![image](https://user-images.githubusercontent.com/10078713/89584480-fd4c9980-d7f0-11ea-82c8-5cd75c1bf682.png)

We ended up populating all the links manually, but for broad user adoption, I suggest we get the linking functionality working.  The structured request generation is working well! Thanks Mark and Tramy!

[2020-08-06 21:41] danbryce commented on #220
I support three cases:

1. a list of search strings, (which if they return zero results, then try to parse as 2.)
2. a list of container ids
3. a special keywords “generate” to create new containers for the experiment.

So, you can probably treat it as a list of strings.  If the list is empty, then treat it as a “generate”.

[2020-08-07 18:02] tramyn commented on #209
@YeungRepo @mwes , responding to say that this is valid and reproducible. Will look into this issue and will address for 2.8 milestone.

[2020-08-07 18:24] tramyn opened #221 ""Failed to search SynBioHub" when running Analyze/Suggestion feature"
Users are getting this "Failed to search SynBioHub" message when running Analyze/Suggestion feature. This prevents a user from adding SBH links to their ER documents. For now, they have build at workaround solution by manually adding links.

[2020-08-10 18:55] tramyn commented on #205
@mwes I'm looking at the SBOL dictionary spreadsheet for the Strain's tab and I do not see a lab id that follows "name.transcriptic.B_subtilis_LG227_Colony_1". Do you expect IP to prepend "name.transcriptic" to a user's input for "B_subtilis_LG227_Colony_1" to generate an SR output? "name.transcriptic" will change to the lab name that the strain will fall under in the spreadsheet. Is this correct?

[2020-08-10 21:15] mwes commented on #205
Hi @tramyn, prepending would be the consistent/correct behavior. This is the current function that is applied to build the lab_id: https://gitlab.sd2e.org/sd2program/python-datacatalog/blob/2_2/datacatalog/formats/common.py#L436

[2020-08-10 22:44] tramyn commented on #205
@mwes Looking at the function you provided, will the value for `lab` come from an ER document's lab table?

[2020-08-11 04:04] mwes commented on #205
@tramyn - Yes

[2020-08-11 18:47] #206 closed

[2020-08-11 18:48] #143 closed

[2020-08-12 01:37] #221 closed

[2020-08-13 20:28] #204 closed

[2020-08-14 20:25] tramyn commented on #205
This is ready for testing on your end @mwes . If you haven't done so, you will need to update SD2's data catalog schema to support strain objects rather than strings or sbh_uri so intent parser will past validation.
At this point, you should be able to test this new feature out on intent parser's testing server (http://intentparser2.sd2e.org).

[2020-08-14 20:32] tramyn commented on #207
I have updated the golden files for IP testing. 35/37 are failing this type of testing because strains no longer match the golden files expected output. I will need @mwes to update these golden files with new results in order to get these test cases passing again.
@mwes let me know when this is ready to reassign to me so I can resolve IP's current state with golden file testing.

[2020-08-17 12:28] mwes commented on #207
Thanks @tramyn I'll work on this today

[2020-08-17 12:35] mwes commented on #205
@tramyn this is producing an internal server error for the following ER: https://docs.google.com/document/d/1Mba6kqDila4W32Z46NEqXZFx868A3O36I9GIVOvMQ70

Can you take a look?

http://intentparser2.sd2e.org/document_request?1Mba6kqDila4W32Z46NEqXZFx868A3O36I9GIVOvMQ70

[2020-08-17 15:59] tramyn commented on #205
@mwes could you try again? I made a new build with some additional fixes.

[2020-08-17 16:47] mwes commented on #205
@tramyn This, this appears to be working now. Will need to update the ER to get the error messages to resolve.

[2020-08-17 16:50] tramyn commented on #205
Great! Thanks @mwes

[2020-08-18 00:11] tramyn commented on #218
@mwes is your schema extended for me to get started on this issue?

[2020-08-18 16:57] mwes commented on #218
@tramyn not yet, I'll get to this this week; I am working on resolving several metadata issues for newly uploaded experiments.

[2020-08-18 16:58] mwes commented on #207
FYI, I am still working on this.

https://github.com/SD2E/experimental-intent-parser/issues/205 will require many previously valid ERs to be manually updated so that they can be run through the IP

I will then update the parsing we provide to XPlan from the new IP/SR strain output so that we don't break the existing XPlan integration when this milestone is released.

[2020-08-18 17:07] mwes opened #233 "Some inducer concentrations not parsing correctly"
ER: https://docs.google.com/document/d/1QqJbcCXTasAgm0_0_i1wRyZLt7wL-oK5ol6slV6syYk

Some inducer concentration sequences do not correctly parse with units

We updated the ER in the meantime to include leading zeroes for floats, and turn integer like units into floats (e.g. 26 -> 26.0)

When provided:
Xylose
26, 13, 6.5, 3.25, 1.625, .8125, .40625, .203125, .1015625, 0.05078125 mM

The mM unit is

[2020-08-18 17:17] mwes commented on #233
Some Slack discussion: https://sd2e.slack.com/archives/GP34M2C02/p1597769159046300

[2020-08-18 18:15] tramyn commented on #233
@mwes In the slack thread, you mentioned that you had to insert a leading 0 to some of the decimal values to get it working. This is the main reason why IP was unable to parse through "26, 13, 6.5, 3.25, 1.625, .8125, .40625, .203125, .1015625, 0.05078125 mM". IP does not define a decimal value such as (.8125) as a valid value. I've expanded IP to interpret this.

I plan on releasing 2.8 sometime

[2020-08-18 18:15] #217 closed

[2020-08-18 18:23] mwes commented on #233
@tramyn yes, please *_do not_* release 2.8 today. It has known, breaking changes that downstream consumers of the IP (our structured request reactor, XPlan) need to handle. We can perform this work on the staging intentparser2 instance you've provided. If this is released into production before we can handle those changes, all automated experimentation will immediately come to a stop.

See:
https:

[2020-08-18 18:35] #233 closed

[2020-08-18 20:26] tramyn commented on #207
@mwes I'm going to leave #205 and #207 as the last 2 issues accounted for 2.8 release. Once these two issues are resolved, we are going to package this up and push to production. The remaining issues for #212 and #218 will be move to 2.9 milestone release.  Let me know if you have concerns with this decision.

[2020-08-18 21:03] mwes commented on #207
That sounds fine @tramyn

[2020-08-18 21:27] tramyn commented on #25
@jakebeal could you update your request for this feature? Which of these interest are still needed from intent parser? From what I understand, I think reporting build request is the most active request that needs support. The two other requests seems supported.

[2020-08-18 21:30] tramyn commented on #112
@jakebeal is there a schema or sample data for this experiment request to show what this subset of information would look like ?

[2020-08-18 21:34] tramyn commented on #171
@jakebeal I think this feature is already supported from #198. Could you confirm?

[2020-08-18 21:53] tramyn commented on #173
@jakebeal are the strains from Strateos inventory stored under the Transcriptic UID column in the SBOL Dictionary. What additional inventory information does Strateos have that will be valuable for IP to know and report to a user if a strain is available?

[2020-08-18 21:59] tramyn commented on #220
@mwes could you follow up with a schema to show me where you want this information generated from an SR? I could then add a visible field for a user to insert this information in ER document.

[2020-08-18 22:02] mwes commented on #171
The pipelines report back their status into that database table, which is now loaded into the request

[2020-08-18 22:06] tramyn commented on #174
@jakebeal who is the point of contact I should talk to for getting build status information?

[2020-08-19 09:53] #171 closed

[2020-08-19 09:57] jakebeal commented on #25
Reporting experiment status (per #198) has a menu item associated with it --- is it also updating automatically?  If so, it should have a date-stamp noting when it has last been updated, and whether the update is automatic or manual.

Validating the ER table also appears to solely manual right now.

[2020-08-19 09:58] jakebeal commented on #112
@tramyn I am reassigning to @danbryce to either add more specification or to deprioritize.

[2020-08-19 09:59] jakebeal commented on #173
@danbryce Is there additional inventory information besides the existence of a UID in the dictionary?  I am under the impression that you're getting something else, but I don't know what it is exactly.

[2020-08-19 10:00] jakebeal commented on #174
Talk to Justin Vrana and @dvnstrcklnd

[2020-08-19 21:08] mwes commented on #207
@tramyn this is more labor intensive than I thought. I have a way forward, however. See below.

Each strain entry in the ER has to be manually re-linked so that it points to the correct lab id and links to the correct URI. This is, unfortunately, not a mindless process as the ERs to date have been inconsistent: some use common names, some use URIs, etc. hence the idea around this request. To resol

[2020-08-19 21:11] tramyn commented on #25
IP has a [script](https://github.com/SD2E/experimental-intent-parser/blob/develop/intent_parser/addons/sync_experiment_status_table.py) set up to automatically update experiment statuses for each ER document. This script is currently hosted on portainer and had 2 successful runs for the past two days now. This script does not, however, include a date-stamp in the documents to report when it was la

[2020-08-19 21:16] jakebeal commented on #25
For ER table validations, I'd say to just start by marking it in the document above the table or in the micro-table just before it that has the lab name, e.g., something like "passed [manual/automatic] validation on DATE-TIME"

[2020-08-19 21:24] tramyn commented on #207
@mwes sounds like a good solution. If we get to a point where you no longer want to update your generated ER files so that I can treat them as golden files for IP's testing, then please let me know so I can update IP tests to reflect that change. Otherwise, let me know when the generated files are ready for me to test.

[2020-08-19 21:42] tramyn opened #235 "Automatically validate ER documents"
Create a script that will automatically validate ER documents. Refer to https://github.com/SD2E/experimental-intent-parser/issues/25#issuecomment-676709549 for this discussion.

[2020-08-19 21:43] tramyn commented on #25
@jakebeal I've created issue #235 to address :

[2020-08-19 21:44] mwes commented on #207
Sure. https://gitlab.sd2e.org/sd2program/cp-request/merge_requests/500 is pending.

The new golden files to test against will be:
https://gitlab.sd2e.org/sd2program/cp-request/blob/1d134ee3a0921299a4b998d48f25ecee54f6b7dc/input/structured_requests/YeastSTATES%201.0%20Growth%20Curves%20Request.json
https://gitlab.sd2e.org/sd2program/cp-request/blob/1d134ee3a0921299a4b998d48f25ecee54f6b7dc/input/str

[2020-08-19 21:46] mwes commented on #205
The generation here looks good. This can be closed from my perspective.

[2020-08-19 21:49] #205 closed

[2020-08-19 22:15] tramyn opened #236 "Report additional information for experiment status"
When reporting an experiment's pipeline status, include a date-stamp noting when it has last been updated, and whether the update is automatic or manual.

[2020-08-20 13:22] mwes commented on #207
@tramyn this has been review and merged through; once golden file testing passes for those two ERs, we should be good to go for milestone 2.8

[2020-08-20 14:03] tramyn commented on #207
@mwes Thank you Mark. I'll work on this now.

[2020-08-20 14:26] danbryce commented on #112
I say we deprioritize this.

[2020-08-20 14:30] danbryce commented on #173
This is probably an advanced feature that we don't need right now.  I was thinking we would want to know which are the possible containers at Strateos that might apply to the ER.  This would involve getting the container and aliquot properties to see what strains are present.

[2020-08-20 21:02] #207 closed

[2020-08-21 22:41] tramyn opened #238 "Control's Table not updating its table caption with the correct index value"
Creating a Controls Table from table template dialog does not compute the correct value for the table caption. Currently, IP will default the table caption value to 1 for each control table template.

[2020-08-24 13:25] jakebeal opened #239 "Some accounts are told they cannot sign in"
Signing in with my main Google account, I am forced to re-authorize, but instead of being allowed to do so, I am told that sign-ins are temporarily disabled. This does not happen on my other account.

[2020-08-24 13:26] jakebeal opened #240 "Failure to advance in analyze-from-top on Safari"
Working from Safari, when I run analyze-from-top, no action is taken (cursor doesn't advance, links aren't made) when I say either "yes" or "no" to a suggestion.

[2020-08-24 13:33] jakebeal commented on #25
Closing, as it is now replaced by the sub-issues.

[2020-08-24 13:33] #25 closed

[2020-08-24 14:55] mwes opened #241 "Error when generating experiment request through UI, works through REST"
Generating or validating the following ER https://docs.google.com/document/d/1d3XkaJgnAU0oPXWT4MtDF4yhBqxEprgl0_JT9wjJVl4 produces an error:
[code]
Which seems to indicate a failure producing controls. However, generating programmatically works, and the relevant controls blocks are included:

http://intentparser.sd2e.org/document_request?1d3XkaJgnAU0oPXWT4MtDF4yhBqxEprgl0_JT9wjJVl4

The version of

[2020-08-24 18:22] mwes commented on #241
This has been fixed as of ~2:20 EST per Tramy's update on SD2E Slack:
Tramy Nguyen  2:15 PM
@here IP is up and running again. There are Google App script issues that are popping up for intent parser on the production server. If anyone here are experiencing problems using the add-on, please alert me and let me know. Thanks! (

[2020-08-24 18:22] #241 closed

[2020-08-24 23:40] tramyn opened #242 "Include parameter fields to SBOL Dictionary"
Currently, IP have the following fields hardcoded into its tool when parsing parameter tables.

- plate_size
- plate_number
- container_search_string
- strain_property
- xplan_path
- protocol_id

But since IP is set up to rely on the dictionary to map parameter fields from its common name to its equivalent Transcriptic UID,  the tool will break if these fields do not have mappings. Most of the par

[2020-08-25 02:48] mwes commented on #242
@tramyn no problem, I've added attributes  to the SBOl dictionary for this

[2020-08-25 16:14] tramyn opened #243 "Support annotations on what media spike-ins are possible for a factor of type “sample”"
XPlan needs to know what media spike-ins are possible for a factor of type “sample” from an ER document.
However, IP does not have a place to specify this information.
This slack thread [here](https://sd2e.slack.com/archives/C931AH9LY/p1597946570001700?thread_ts=1597946391.001000&cid=C931AH9LY) records information about this discussion.
The idea is to have  IP allow this information to be annotate

[2020-08-25 16:31] tramyn commented on #239
This issue has been reported to occur on @jakebeal. For now, this issue is marked as a medium priority to say that it should be and/or needs to be addressed at some point. Unless more users reports that this is becoming a bigger issue,  this issue will be escalated to top priority.

Some solutions that we have tried that came out unsuccessful:
- Remove all [Third-party apps](https://myaccount.goog

[2020-08-25 16:58] tramyn commented on #240
This is a reproducible issue. Will look into.

[2020-08-26 22:44] tramyn commented on #242
@mwes Could you also add to the dictionary this name `experiment_reference_url_for_xplan`?

[2020-08-27 02:23] mwes commented on #242
@tramyn Sure thing - done.

[2020-08-27 19:11] tramyn commented on #242
@mwes one more term... `xplan_base_dir`

[2020-08-27 20:50] tramyn opened #245 "Unable to process certain Parameter Tables with raw JSON text"
There are parameter fields in this [ER document](https://docs.google.com/document/d/1YKACI6n5_AYc-RF5oAuZDnBlJxMwMnx9K5yDKuckamA) that will not correctly translate hard coded json text into JSON object. Running "Generate Structured Request" will return broken json value into a random list of string values.

[2020-08-27 22:35] tramyn opened #246 "Expand unit test to experiment with white spaces processed from a table"
IP will insert a single space for each "paragraph" read from a Google Doc's table cell. This single space causes problem for certain text that gets read in and thus had to be removed from IP when parsing a a Google Doc's table cell. It's not clear that the removal of this text will cause any issue in the future when reading in the contents of a document. So to prepare for that scenario, it will be

[2020-08-28 12:10] mwes commented on #242
@tramyn sure, done.

[2020-08-28 13:39] mwes commented on #245
Sorry for the assignment issues - I was trying to query for any issues assigned to me 😅

[2020-08-28 13:40] mwes commented on #218
Other issues have normalized - I'll plan to return to this when I return from leave on Monday, August 31

[2020-08-31 14:16] danbryce commented on #243
This issue is OBE at this point.  We were planning on treating these reagents as media spike-ins, but decided to do them as inducers.  This feature may become important in the future.

[2020-08-31 19:48] #242 closed

[2020-09-01 00:30] tramyn commented on #245
Resolved issue by flagging parameter field: `Induction reagents media, culture, and volume` to read in its assigned parameter value as JSON.

[2020-09-01 00:30] #245 closed

[2020-09-01 01:23] tramyn commented on #220
As of last week, case 1 and 2 are supported in IP by specifying `Container Search String` as a Parameter field in a parameter table and can be accessed from IP's production server.  Case 3 is also supported but it is not included in last week's build. If Dan wants to access case 3 sooner, then I'll do a smaller 2.8.1 release. Otherwise, I will package this full feature in 2.9 release.

[2020-09-01 01:23] #220 closed

[2020-09-01 16:34] tramyn opened #248 "Set up test cases for SBOL3"
Set up unit tests for SBOL3

[2020-09-01 16:37] tramyn opened #249 "BLANK"
blank

[2020-09-01 16:42] tramyn opened #250 "Report more error messages to run request an experiment execution"
IP needs more error reports to guide a user through the process to successfully request an experiment execution. Although IP does report a level of errors to the user, more detailed information will be useful.

Messages to consider reporting:
- report fields that needs to be set
- report actual and expected results

[2020-09-01 18:10] tramyn commented on #235
Remaining tasks from commit f2fe0d962fbc8d7440854789d17d5c86463dc3b3:

- insert to document a header to say "Structured Request Validation Result"
- specify in normal text a time stamp and whether validation was ran automatically or manually

[2020-09-01 19:36] #238 closed

[2020-09-02 00:42] tramyn commented on #218
@mwes Could you provide me updates on this issue? What is its current state?

[2020-09-02 19:03] mwes commented on #218
@tramyn thanks for following up. I've proposed a schema extension here: https://gitlab.sd2e.org/sd2program/cp-request/merge_requests/516 that follows the existing control structure, but relaxes the need to have a constrained "type".

We'll be able to see from ER usage what label values are used, which we can then constrain with a targeted enumeration to guide population. The JSON target is almost

[2020-09-10 15:48] mwes opened #252 "Update intent parser execution target"
@tramyn we will likely need to update the intent parser's execution target for requesting to execution an experiment. Instead of calling the reactor directly with the message and nonce, we'll need to follow an authentication step which will authenticate the requesting user on TACC. Matt, Dan, and I are working through this (see below for a draft of our current thinking).

This authentication step

[2020-09-10 17:41] tramyn commented on #252
@mwes This sounds straightforward and thanks for keeping me updated. I'll continue to follow this discussion. If there are slack channels opening up for this then please let me know so I can stay up to date.

[2020-09-10 17:53] mwes commented on #252
@tramyn sure - the main discussions are in the open under #ip-sr-xplan and #cyberinfrastructure

[2020-09-10 19:04] mwes opened #253 "Intent Parser failing on UCSB Nissile Experiment Request"
https://docs.google.com/document/d/1YKACI6n5_AYc-RF5oAuZDnBlJxMwMnx9K5yDKuckamA

is throwing an error on generate request:
[code]

http://intentparser.sd2e.org/document_request?1YKACI6n5_AYc-RF5oAuZDnBlJxMwMnx9K5yDKuckamA

Just produces a 502 Bad Gateway

I scanned the ER and there doesn't appear to be anything obviously or non-compliant. Maybe formatting or something else? Can you take a look whe

[2020-09-10 19:07] tramyn commented on #253
@mwes Looking into it now.

[2020-09-10 19:10] tramyn commented on #253
@mwes @danbryce try running on IP's testing server(http://intentparser2.sd2e.org/document_request?1YKACI6n5_AYc-RF5oAuZDnBlJxMwMnx9K5yDKuckamA). This is a similar server issue that we have encountered last week. I'll talk with @eriksf about this.

[2020-09-10 19:13] mwes commented on #253
Thanks, running on intentparser2 works

[2020-09-10 20:27] tramyn commented on #253
Talked to @eferlanti and this is an IP issue. A restart will need to be performed in order to get the server working. There will be some changes that needs to happen on IP to successfully resolve this issue. As a short term solution, restarting the server that IP is hosted on will resolve this issue.

[2020-09-14 13:21] jakebeal commented on #249
Defunct.

[2020-09-14 13:21] #249 closed

[2020-09-14 13:36] jakebeal commented on #250
One of the things that is needed is to be able to distinguish between optional and required parameters in order to validate a request. We also need to be able to know what type of values are required for each of these parameters and their default values.

This should be solved by providing an OPIL protocol specification.

[2020-09-14 13:38] jakebeal commented on #250
@danbryce Can you please say what else you would like to see for this issue? We will then be splitting things into sub-issues.

[2020-09-14 13:39] jakebeal commented on #250
@pleaderlee Can you & Josh please work with @rmarkelo on providing OPIL specs for Strateos protocols, as this will be necessary to solve this issue.

[2020-09-14 13:41] jakebeal commented on #212
(Note, this issue is only for Measurement Tables and Control Tables; Parameter Tables will be addressed via by #250)

[2020-09-16 15:10] jakebeal commented on #250
@danbryce reports that the default tables inserted also sometimes have extra parameters or are missing parameters. This is also something that should be solved via OPIL.

[2020-09-16 17:19] tramyn commented on #250
From this discussion, below are areas that will need to be addressed for this issue:
1. what is required vs. option
2. not knowing type of value for parameter
3. missing parameter. Specifically, not always getting parameters that are expected from a specified protocol

[2020-09-21 14:29] tramyn opened #254 "Validate strains in Controls Table"
Currently, IP will only validate strains for measurement tables. IP does not check the validity of strains when processing controls table. This means, users can add any strain value to a controls table and IP will process that without checking if it exists within the SBOL dictionary. It would be desirable if IP could include this level of validation when processing strains under a control's table

[2020-09-21 16:04] mwes commented on #254
Thanks @tramyn. Please include the same validation and output steps as we do for measurements strains. e.g. we currently generate for a controls table "W303" strain value (text) that links to "https://hub.sd2e.org/user/sd2e/design/W303/1":

[code]

which is ambiguous/underspecified, leading to some of the confusion that prompted this issue.

Instead, if we treat this the same as a measurement stra

[2020-09-21 20:49] tramyn opened #255 "Support missing required information for protocols in a Parameter table"
IP is set to do a shallow walk through of Strateos’s information by collecting information that are 2 levels deep.
Information listed below are required Strateos's information that needs to be generated when first creating a parameter table from IP's drop down menu item. However, these required information are nested 3 levels deep and as result, gets ignored by IP when generating these required de

[2020-09-22 17:59] tramyn commented on #252
Base on Slack's ip-sr-xplan thread discussion with @mwes,  there is a new authentication layer added when requesting an experiment execution. IP will need to update its endpoint to the link mentioned in the Slack thread. The HTML content received from this response will provide users the ability to authenticate their experiment request. IP will then need to have a new tab open to display this HTML

[2020-09-22 18:17] tramyn opened #256 "Remove optional fields when creating a default Parameter table"
IP does not have a clear notion for generating required vs. optional default parameters when creating a Parameter table from IP's drop down menu item. IP should be filtered through to differentiate this. Right now, IP can get this type information when pulling information from Strateos's API by looking at the presence of a “required” field (https://developers.transcriptic.com/docs/input-types).  F

[2020-09-22 18:22] tramyn commented on #250
#256 addresses :

Both issues #255 and #256 addresses the following. Specifically, look at the contents returned from calling Strateos's API for the a parameter's value type.

#255 addresses :

[2020-09-23 20:42] mwes opened #257 "Return execution run status from Request Experiment Execution"
The current request experiment execution path should return a JSON response that follows this template:

[code]

What this is saying is that the request was received and accepted by the reactor, and assigned an execution id `7LYepwB1ewLb3` which you can see under the `result` field.

This does not provide visibility into any possible errors in that execution. To do that, we need to check the execu

[2020-09-25 19:09] #240 closed

[2020-09-28 13:17] jakebeal commented on #256
Consider also two other alternatives:

1. Adding them as options in the creation dialogue
2. Adding them in, but with a default value of "optional" (or similar marking), and the user can then delete the row or leave it blank if they wish.

[2020-09-28 16:00] tramyn opened #262 "Report required and optional features visible to users using comment boxes"
There are interests using comment boxes as an easy way for reporting to a user optional and required fields after the creation of a table template. The idea for using a comment box is to incorporate highlighting and linking comments together into a document for each optional field not detected within a desired table. Below is a list of obstacles that will need to be addressed in order to implement

[2020-09-28 16:04] tramyn commented on #212
For this feature request, a sidebar is used to show what are the required and optional fields available for table templates provided by IP. There is an interest in using comment boxes so issue #262 was created to support this feature.

[2020-09-28 16:04] #212 closed

[2020-09-28 21:52] tramyn opened #264 "Move IP away from SD2's data catalog schema"
IP currently relies on SD2's data catalog schema to create table templates and validate the contents of a structured request. Towards the end of the of the program, it will make sense to replace these two areas within IP to use a different form of data language for representing these information. Reasons noted below, but are not limited to, for supporting this feature are:
- some terminologies use

[2020-09-28 22:29] tramyn opened #265 "Update README.md to include data architecture"
One common suggestion made from BBN's code review session on 09/23/2020 for updating the README.md file is to include an image of IP's architecture to help new developers understand code. It will also be useful to include what is frontend and backend doing for IP.

[2020-09-28 22:41] tramyn opened #266 "Replace IP's custom built HTTP with a web base library API"
IP's HTTP calls are built from scratch and it is not properly set up to properly behave as an actual HTTP request. There are several bugs that are spotted by @tcmitchell that could benefit from changing. Some recommended APIs are:
- Python Requests
- FLASK
- Python zone server package

For now, the current implementation has not caused an issue for continuing the development for IP. @jakebeal sugg

[2020-09-28 22:50] tramyn opened #267 "Include unusual / broken Google Doc inputs for testing"
IP supports a variety of tests that are limited to showing what works. Very few test cases are set up for testing unusual / broken Google Doc inputs. More of these types of test cases should be included.

[2020-09-28 23:01] tramyn opened #268 "Setup frontend testing for application"
Currently, there is no frontend test cases set up for IP. It may be valuable to have one set as an overnight task to detect “gross things.” (ex: server not running, menu disappear, tokens expiration ). @tcmitchell recommend using Selenium to test these type of issues.

[2020-10-05 04:03] tramyn opened #269 "Generate OPIL from Parameter Table"
A parameter table is generated into a structured request (SR) using JSON as the output data format. This data structured is specific to Strateos for specifying a protocol. Need to expand this to be more generic to support other protocols (other than Strateos) by using OPIL as an output data encoding.

[2020-10-05 13:09] jakebeal opened #270 "Use OPIL to generate & validate parameter tables"
Use OPIL library to convert the Strateos inputs into OPIL. Switch parameter table generation and validation from our own custom system to using OPIL/SHACL instead

[2020-10-05 20:16] tramyn opened #271 "Support row_id, column_id, and lab_id for measurement table"
have IP support lab_id and colmn_id as two new columns when parsing contents from a measurement table.
lab_id will be a list of strings and column_id will be a list of integer.

[2020-10-05 20:21] tramyn commented on #271
will also want row_id to take on the form of list of integers

[2020-10-05 23:02] #271 closed

[2020-10-07 22:10] tramyn commented on #255
Above parameters are not detected in :
- Growth Curve protocol
- Obstacle Course protocol

The only Strateos protocol currently supported in IP with those desired fields is the time series protocol. However, below are fields that were detected as optional fields and not required field as mentioned from above:
- Induction sampline read solvent
- Induction sampling flow solvent
- Induction sampling

[2020-10-07 22:11] tramyn commented on #256
Implementation is setup to go off of alternative 1.

[2020-10-07 22:11] #255 closed

[2020-10-07 22:12] #256 closed

[2020-10-12 18:28] tramyn opened #275 "Support CellFreeRiboswitches as a new protocol for writing and reading a Parameter table"
New fields that will need to be included in IP until OPIL is fully implemented:
- Reaction volume
- Incubate in reader
- Inducer
- Plate reader fluorescence excitation frequency
- Plate reader fluorescence emission frequency
- Plate Read Gain Configuration

[2020-10-13 13:36] mwes commented on #252
@tramyn per our discussion on 9/22 this should be ready to test. Is it possible to create a build that points to the new POST target? This should be a small change, and we can then see if it is working correctly, or if we need to make any changes/updates to the TACC authentication gateway.

[2020-10-13 17:02] tramyn opened #277 "Support additional columns for measurement table"
include new columns:
- Number of Negative Controls: a list of integers
- Use RNAse Inhibitor in Reaction: a boolean value
- DNA Reaction Concentration: a list of integers
- Template DNA: a list of strings

[2020-10-13 17:04] #275 closed

[2020-10-13 17:08] tramyn commented on #252
@mwes I ran into authentication issue when using clicking on the interface returned from TACC. I'll give you a more in depth summary after #277 is resolved.

[2020-10-13 17:33] tramyn commented on #277
@mwes do you have a placeholder described in data catalog for these new fields?

[2020-10-13 18:05] mwes commented on #277
Same as before - just have the columns natively parse as contents (should require almost no changes on the IP side I believe)

[2020-10-13 19:19] mwes commented on #252
OK, I've updated #277 What was the issue?

[2020-10-13 19:51] mwes commented on #252
FYI Matt V. just reminded me that with today's maintenance, TACC systems will likely be throwing auth errors - we should wait until Corral is back online and the maintenance completes, then we can re-rest. This should be done ~Wednesday 12:00 CST. I had forgotten about the maintenance - thank you for checking! I expect we will be able to make more progress tomorrow.

[2020-10-13 20:59] #277 closed

[2020-10-13 22:19] #254 closed

[2020-10-14 17:44] danbryce opened #280 "Parameter defaults vs. per experiment parameters"
Parameters fall into at least three categories and could benefit from special treatment (esp. from a user guidance perspective):

1. Lab defaults that don't need to change
2. Experimental thrust defaults that are unique to an investigator but may not change
3. Per experiment parameters that must change for each ER.

[2020-10-15 13:36] mwes commented on #252
@tramyn maintenance should be complete - can you test again?

[2020-10-15 17:38] tramyn commented on #252
@mwes I can confirm that authentication is working for the new endpoint. However, I'm getting HTTP 400 error when connecting this feature to #257 . This is the message that I am getting "Actor with identifier 'control-annotator.prod' not found". Could you confirm if TACC's server was able to receive my request? I can provide you the Execution ID on slack and follow up from there.

[2020-10-15 17:45] mwes commented on #252
Sure, please send the Execution ID.

[2020-10-16 21:35] tramyn opened #281 "“Failed to access SynBioHub” when running “Suggest Additions by Spelling”"
When running “Add to spellchecker dictionary” from“Suggest Additions by Spelling”, IP will report “Failed to access SynBioHub”. What should happen here is each term that a users indicates “add to spellcheck dictionary,”  is expected to appear in the dictionary. IP is then expected to store those english words so that it knows which term has already been added to the dictionary.

[2020-10-21 17:32] tramyn opened #282 "Generate OPIL from Measurement table"
to completely transition a SR to OPIL, IP will need to generate OPIL from a measurement table

[2020-10-21 21:29] #252 closed

[2020-10-21 22:32] tramyn commented on #257
IP has been updated to use new TACC endpoint to address #252. This issue, however, will require more changes based on the Slack conversation that went on between @mwes and @mwvaughn on 10/21/2020. As mentioned in the conversation, #252 is in a good state for @mwes to use for milestone 2.10. @mwes will continue to help other users debug the state of an experiment execution until #257 is resolved.

[2020-10-22 16:55] tramyn opened #284 "Generate OPIL from Controls table"
Similarly to #282 , we will want to support generating OPIL from a controls table. Having these two issues supported will complete representation to that of an experiment's structured request.

[2020-10-26 05:29] #269 closed

[2020-10-26 05:30] #250 closed

[2020-10-26 14:49] mwes opened #286 "Issue generating new golden files from intentparser2.sd2e.org"
I am encountering a validation error while generating new SR golden file content against intentparser2.sd2e.org

1. https://docs.google.com/document/d/1fFcxyJyheMrzSsVoSsO6v7qHJKFf_0heIFtqEur02cg / YeastSTATES 1.0 Growth Curves Request : Works

2. https://docs.google.com/document/d/1Mba6kqDila4W32Z46NEqXZFx868A3O36I9GIVOvMQ70 / YeastSTATES 1.0 Time Series Round 1: Fails generation from IP with err

[2020-10-26 18:35] tramyn commented on #286
@mwes I made a new build. Could you try running these two documents again using intentparser2.sd2e.org?

The first file is failing in IP's golden file testing because the SBOL dictionary has a duplicate entry for `Plate reader fluorescence emission frequency`. The json file that you've generated is mapping the SR output to
[code]

while IP is generating this as the output:

[code]

This second fil

[2020-10-26 18:39] mwes commented on #286
Deleted duplicate mappings for plate_reader_info.emission/excitation

[2020-10-26 19:54] mwes commented on #286
@tramyn Thanks, re-generated and merged: https://gitlab.sd2e.org/sd2program/cp-request/merge_requests/571

[2020-10-26 21:30] tramyn commented on #286
Thank you @mwes. golden files are passing!

[2020-10-26 21:30] #286 closed

[2020-10-27 02:51] #270 closed

[2020-10-27 22:02] tramyn opened #289 "Present alternative entry point to get protocol id from a Strateos protocol"
Protocol ID is a field that is accessible when fetching from Strateo's API. This field is inserted as a parameter to a Parameter table when calling "Create table templates". Depending on the protocol selected from a lab, different Protocol ID is assigned to the created Parameter table. It has been mentioned in ip-sr-xplan slack channel that these Protocol ID change and users who want to execute th

[2020-10-27 22:09] tramyn opened #290 "Increase performance when generating OPIL"
Running generate OPIL is slow. It takes about ~1 to 1.5 minutes to complete this request. This feature will need to be re-examined to find out where in IP is causing this slow performance and help make it faster.  Ideally, can IP reduced this performance time to run within 10 - 20 seconds?

[2020-10-28 01:12] jakebeal commented on #243
Closing for now as OBE. @danbryce please reopen again if it becomes important in the future.

[2020-10-28 01:12] #243 closed

[2020-11-03 02:00] tramyn commented on #282
@jakebeal I'm not sure that generating OPIL from a measurement table is the right thing to do here. I recall in one of our old discussions, we talked about using SBOL3's combinatorial derivation object to encode this information. Is this correct? If not, what type of OPIL Parameter object does this fall under? A `MeasureParameter`?

[2020-11-03 02:14] jakebeal commented on #282
@tramyn  This isn't the `Parameter` objects of OPIL, but the `sampleSet` properties, which point to SBOL3 `CombinatorialDerivation` objects in the UML diagrams.  So yes, you're right that it should be `CombinatorialDerivation`, and I'm right that this is included in the OPIL structures. :-)

[2020-11-03 20:17] tramyn opened #291 "Support MgGlu2 when generating SR from Parameter Table"
Add MgGlue2 as a parameter field to a Parameter Table. This field will map to `rxn_info.rxn_group.rxn_info.mg_glu2` as its corresponding SR output.

[2020-11-03 20:48] #291 closed

[2020-11-09 16:53] tramyn opened #293 "Create a website for Intent Parser"
Create a website for Intent Parser that will document what the tool is and how to use it.
Refer to this [resource](https://developers.google.com/gsuite/marketplace/how-to-publish) to know what additional information must be included for publishing IP as a public add-on.

[2020-11-30 21:23] tramyn opened #294 "Document information for parameters table"
There are currently no resources provided for users to understand the purpose of fields listed in a parameter table and what values users should provide for these fields. It will be valuable to provide this information from Intent Parser's Help -> Table -> Parameters add-on menu item.

[2020-11-30 21:44] tramyn commented on #294
This issue is dependent on getting OPIL [issue 65](https://github.com/SD2E/opil/issues/65) supported in its strateos to opil converter before working on this issue.

[2020-12-01 16:59] mwes opened #295 "Intent parser generation/validation returns error without revealing the underlying problem, but the REST API does"
ER: https://docs.google.com/document/d/162OXD2SacWUb4aN1WK7vA2rlKupmcstDpPheAt49ADQ

Running "Generate Structured Request" or "Validate Structured Request" returns an error - the generation or validation failed, but we don't know why/cannot figure out what to do to correct it.

<img width="663" alt="Screen Shot 2020-12-01 at 11 54 12 AM" src="https://user-images.githubusercontent.com/5033275/10077

[2020-12-01 17:30] tramyn commented on #295
@mwes I am unable to reproduce this error. Running  "Generate Structured Request" and "Validate Structured Request" passes on my end. Can you try reproducing this error to see if this is still a problem?

[2020-12-01 17:52] mwes commented on #295
@tramyn yes @meslami-netrias fixed the issue so we could make progress on this. To reproduce it, just ensure the JSON is invalid - drop a comma, brace, etc.

[2020-12-03 21:31] tramyn opened #296 "Support plate_reader_info.list_of_gains in SR"
plate_reader_info.list_of_gains is a parameter field that will need to be supported in IP as a dictionary value. Current user will provide to IP a json string of this representation. IP is expected to detect this term and convert to a json object.

[2020-12-07 04:11] #296 closed

[2020-12-07 04:15] #281 closed

[2020-12-07 04:15] #266 closed

[2020-12-14 18:09] mwes opened #302 "IP cannot parse "M9 Minimal Media w 50mg per L TRP""
We are running into an issue trying to submit an ER for execution at Strateos:

https://docs.google.com/document/d/1_c1A9F9PBSh6vc-mDfnMcJxlurqtXMANQQ9aFJOTcUk

What we're seeing: When the control table has a content element linked inside it: "M9 Minimal Media w 50mg per L TRP" that links to https://hub.sd2e.org/user/sd2e/design/Modified0x20M90x20Media0x200x2B0x2050mg0x2FL0x20Trp/1 the IP returns

[2020-12-14 18:13] mwes commented on #302
Edit: we may be able to get around this by using a different set of values (discussing this now with Josh), but I suspect this issue will still remain and could affect us in the future. Something is potentially confusing the contents parsing here.

[2020-12-14 18:30] mwes commented on #302
Edit 2: We did indeed work around for now this by using an alternative value ("modified_m9_media_with_50mg_per_l_trp"). I'm not sure why the original value does not work.

[2021-01-08 17:56] tramyn opened #307 "Deprecate POST methods for button clicks supported in GAS add-on"
`Analyze Terms` and `Suggest Additions by Spelling` are features that operate by processing results from a pop up dialog. Buttons provided in these dialogs operate by sending POST methods to IP. The response that IP sends back to the IP's add-on are actions related to designing the Google add-on. Ideally, these actions generated from the corresponding POST methods should move to Code.js where the

[2021-01-08 18:19] tramyn opened #308 "Update ip_addon_script.py to e-mail result of installed addons to active developers"
ip_addon_script.py is a python script used for installing IP as an add-on to a Google Doc. If the server running this script stops or shuts down, information about new Google Docs installed with an IP add-on are lost. The script then reverts back to using an old backup of the file that tracks Google Docs assigned to an IP add-on. This type of situation can cause the script to reinstall IP onto exi

[2021-01-14 02:37] tramyn opened #309 "Check for certain properties when processing strains from an ER document"
IP currently uses the SBOL dictionary to validate whether a strain specified in an ER document exists within a SynBioHub repository has a valid SBH URI and if the strain is listed under its corresponding Lab_UID. This level of validation isn't informative if there are strains stored in SynBioHub with no valuable information about the desired strain. It will be important for IP to check for certain

[2021-01-28 02:54] #284 closed

[2021-01-28 02:54] #290 closed

[2021-01-28 19:15] #282 closed

[2021-01-28 19:16] #289 closed

[2021-01-28 19:16] #280 closed

[2021-01-28 19:35] #294 closed

[2021-01-29 19:53] tramyn opened #315 "Create table templates for jellyfish_htc.xml"
Refer to the  jellyfish_htc.xml provided by @bjkeller and Jack Ladwig for describing an experimental request from UW. The idea is to load this file from Intent Parser to create Intent Parser table templates.

[2021-01-29 20:22] #192 closed

[2021-01-29 20:23] #209 closed

[2021-01-29 20:24] #199 closed

[2021-01-29 20:24] #248 closed

[2021-01-29 20:26] tramyn commented on #268
Duplicate of #40

[2021-01-29 20:26] #268 closed

[2021-02-01 15:35] tramyn opened #316 "Merge two forms of IP Parameter table template for Generate opil and structure request"
In order to generate opil and a structured request, IP supports two forms of parameter tables: 1. A parameter table that uses the SBOL dictionary for generating a structure request. 2. A parameter table that follows a dot naming convention so that all parameters nested within strateos schema are pulled into separate opil parameter objects. A limitation for supporting these two table type is IP req

[2021-02-09 15:32] georgebzheng opened #318 "Need to add doc owners.emailAddress in structured request for PDT analysis notification"
GoogleDoc contains `owners -> emailAddress` (see https://developers.google.com/drive/api/v3/reference/files) that can be retrieved to aid our pipeline automation. We currently rely on structured request to store such information so the SRR can send ER author an email notification immediately after a PDT analysis has finished. Since Mongo doesn't like the dot notation, suggest to use `owner_email_a

[2021-02-12 22:24] mwes opened #319 "Breaking change in IP generation - cannot run experiments"
Context: We were seeing issues with IP generation for a set of new experiments today, with XPlan rejecting what was passed down to it. This was unusual, because the ER we were running was a copy of a previous ER that worked.

By re-running the IP on the previously working experiment, I discovered that the generated output has changed, breaking downstream tooling.

Example ER: https://docs.google.c

[2021-02-16 16:58] jgladwig opened #320 "opil returned from generateOpilRequest missing value_of assignments"
It looks like the opil returned from generateOpilRequest is missing the `value_of` data for all of its parameter value objects. If I understand correctly the `value_of` entry is supposed to point back to the Parameter object which the ParameterValue object is storing a value for.

For example I am expecting the BooleanValue in the below ttl to have an entry like this:
[code]

ttl:
[code]

I am hop

[2021-02-18 00:45] jgladwig opened #321 "Add more data during OPIL generation (to support direct OPIL input into XPlan)"
This issue is a collection of related adjustments I am looking for in how Intent Parser produces its OPIL response to a `generateOpilRequest`. It is a bit long winded but the end goal here is to allow for XPlan to directly accept the OPIL document as input (replacing the structured requests). Its possible this will **break out into multiple issues** but I have not yet untangled it that far.

Note

[2021-02-18 23:56] #319 closed

[2021-02-19 00:26] #302 closed

[2021-02-19 01:00] #295 closed

[2021-02-24 18:09] jakebeal commented on #321
This is becoming a blocker for @jgladwig now

[2021-02-24 18:10] jakebeal commented on #321
Note that this might split into multiple issues; @jgladwig it would be good if you can note which bits are the blockers and which can be split off.

[2021-02-24 20:25] jgladwig commented on #321
I think I can break this into two parts. They are both blockers related to the opil IP generates and are both required for the end goal of using opil from start to finish.  But I think the first part can at least get us opil output (prior to supporting opil input for xplan).

# Part 1
This is a blocker for getting output from a opil to strateos json converter. **Note** that doing this part without

[2021-02-24 20:26] jgladwig commented on #321
Note that there are some additions @danbryce may have in regards to the condition space. I think those will primarily deal with `Part 2` and the shift to accepting opil as input to xplan.

[2021-02-24 20:35] jgladwig commented on #321
Here are the full opil files for the above:
[opil_from_protocol_interface.txt](https://github.com/SD2E/experimental-intent-parser/files/6038694/opil_from_protocol_interface.txt)
[opil_from_intent_parser.txt](https://github.com/SD2E/experimental-intent-parser/files/6038695/opil_from_intent_parser.txt)

[2021-02-26 19:56] danbryce commented on #321
Here are some examples of what I expect for the condition space inputs.  Look at the key `condition_space`.  It has several `factors`.  Each factor is a column in the ER.  A factor has a name, domain, domain type (dtype), object type (otype), factor type (ftype), and optional ‘lab_name’, ‘lab_prefix’, and ‘lab_suffix’.  The optional items are for mapping the factor to a Strateos parameter.

Ribosw

[2021-03-01 18:14] tramyn opened #327 "Create Parameter table template incorrectly casting parameter values from float to integer values"
When creating a parameter table template for a strateos protocol, some of the parameters values are casted to integer values but are expected to be float values.

Specific parameter fields that have been identified to incorrectly cast float values to integers values are:
[code]

[2021-03-01 19:07] tramyn opened #328 "Autofill optional parameter fields for opil output"
Below is a list of parameter fields that xplan expect Intent Parser to have provide information but are getting dropped from opil output.

This will need to be fixed when processing opil output:
[code]

[2021-03-02 01:55] tramyn opened #329 "Represent condition_space and conditions in opil"
Up to this point, @mwes has created a python script to update a structured request generated from Intent Parser with information about conditions and condition_space.
However, now that Intent Parser support generation of OPIL as a second form of output data format for specifying an experimental request, there is a need to generate this same information from Intent Parser so this same information i

[2021-03-02 01:59] tramyn opened #330 "Represent condition_space and conditions in a structured request"
We will want to support condition_space and conditions field, following #329.

[2021-03-02 02:02] tramyn commented on #321
@jgladwig , @jakebeal
I have broken this issue down to the following sub issues:

- #327  addresses fields that are present with wrong data
- #328 addresses fields that are missing data. Fields for `plate_reader_info.fluor_em`, `plate_reader_info.fluor_ex`, `inoc_info.inc_time_1`, and ` inoc_info.inoculation_media` are already supported in Intent Parser. They appear as optional parameter so users

[2021-03-02 18:23] jgladwig commented on #321
### In regards to the potential wrongness in the URIs:

To point to a specific instance of the potential error... I see these two values in the ExperimentalRequest I pasted in my previous comment (under hasParameterValue):
[code]
To me the value `https://sd2e.org/ip3a4b5a12e48847e6ad834888245f4f74/MeasureValue10` reads as correct because it is a value that is owned by the `https://sd2e.org/ip3a4b5

[2021-03-02 18:40] tramyn opened #331 "Insert optional parameters with default values for parameter table templates"
When users want to insert a parameter table template to their ER document, have IP auto generate optional parameter fields with its default value.

[2021-03-02 18:59] tramyn opened #332 "Check lab ID when adding terms to SBH and SBOL Dictionary"
When adding terms to SBH, IP will add the specified term to the SBOL dictionary. However, it doesn't properly check that a lab ID exists when inserting them to both SBH and the SBOL Dictionary.

[2021-03-02 19:21] jakebeal commented on #321
Good eyes, @jgladwig : `http://strateos.com/GrowthCurve/StringParameter9/StringValue10` is indeed a potential problem.

What it looks like to me is that the default parameters are all getting _referenced_ from the ExecutionRequest rather than _copied_ into the ExecutionRequest.  They should be copied over, making them child objects of the ExecutionRequest.

Because these are write-only values, thi

[2021-03-02 19:34] tramyn opened #333 "Highlight parameter values"
Help users know what parameters are set with default values on a parameter table by highlighting the values

[2021-03-02 20:42] mwes commented on #253
This looks to still be occurring:

[code]

None of these ERs work (or really any ER)
https://docs.google.com/document/d/1zdFlNH2HmhVXYaAk1u2Xh4lwRoyP_yiS4SOWVW8_4o4
https://docs.google.com/document/d/1xGPvVECjBMm5e_7rirk9JaDfypsfaLQepGjlttpTyqk
https://docs.google.com/document/d/1Aja5mOL1FzBL97Deta51SBLGohy0iwIm9s1lDLLHsZQ

[2021-03-03 18:15] jakebeal opened #334 "Default values need to be copied rather than linked"
From @jgladwig on #321

[code]

From @jakebeal

First thing to do is figure out if this is an OPIL issue or an Intent Parser issue.

[2021-03-03 18:18] jakebeal commented on #320
Note: there is a kludge workaround at present, but we shouldn't rely on it.

[2021-03-03 20:06] jgladwig commented on #328
Adding a summary of what I heard at the end of the call today that seemed like a shift in how this data is represented.
Please let me know if it does not match with what others were hearing or expecting.

Short form:
We were talking above moving the SD2 specific values that are used by XPlan and the labs from Parameter objects to custom annotations.

Thoughts and details:
I think the main benefit

[2021-03-03 20:11] jakebeal commented on #321
Closing this in favor of the broken out sub-issues.

[2021-03-03 20:11] #321 closed

[2021-03-03 20:25] jakebeal commented on #328
@jgladwig I believe that is indeed a better path forward.

These values really _aren't_ parameters that affect the manner in which the protocol is executed. They are metadata that is added to the ExperimentRequest to help the SD2 system catalog it. Therefore, they should really be additional SD2-specific fields on the ExperimentRequest.

The Strateos-to-OPIL converter will, indeed, need to be modi

[2021-03-04 00:38] #328 closed

[2021-03-04 00:54] #331 closed

[2021-03-04 01:24] #327 closed

[2021-03-04 18:16] tramyn opened #338 "Upgrade OPIL to v1.0b3"
This new version of opil have breaking changes that affects IP. Some that have been detected so far:
- update opil.opil_factory imports to opil
- address #334
- address #320

[2021-03-25 14:44] jamesscottbrown opened #339 "Install instructions links to python-datacatalog in a private repo"
The README says to install python-datacatalog from the [sd2e gitlab instance](https://gitlab.sd2e.org/sd2program/python-datacatalog), which is private.

It should probably link to the [mirror on GitHub](https://github.com/SD2E/python-datacatalog) instead, assuming this is reasonably up-to-date.

[2021-03-25 14:54] mwvaughn commented on #339
The mirror is kept synced to Gitlab on every commit.

[2021-03-25 15:18] mwes commented on #339
@tramyn it looks like that README.md is out of date - we should update it, along with the requirements.txt so we can resolve these dependencies automatically instead of with manual steps.

[2021-03-29 13:23] tramyn opened #340 "Support unit conversion for opil.Measure objects"
IP, currently, requires that a user specify values with units that exactly match what is in the protocol but it will be valuable to make IP handle unit conversion if user input does not directly match what is within an existing protocol.

[2021-03-31 15:45] #320 closed

[2021-03-31 15:49] #315 closed

[2021-03-31 17:31] tramyn opened #342 "Create "Go" button for OPIL output"
We will want to run an experiment using opil output so an entrypoint is needed to run this.

[2021-04-06 04:06] #338 closed

[2021-04-06 04:06] #334 closed

[2021-04-26 00:10] #342 closed

[2021-04-26 00:36] #316 closed

[2021-05-04 04:42] #264 closed

[2021-05-04 04:57] #246 closed

[2021-05-04 04:58] #130 closed

[2021-05-04 04:59] #91 closed

[2021-05-04 05:02] #135 closed

[2021-05-04 05:18] tramyn opened #347 "Track duplicate copies of Intent Parser addons"
There are google documents that have multiple copies of IP installed and not all of these IP copies are updated to use the latest frontend code of IP. As a result, multiple users running the same document are exposed to different versions of IP. To address this issue, there should be a script created to track multiple copies of IP and update these extra copies of IP to use the latest frontend code

[2021-06-14 14:35] jakebeal opened #348 "Review and improve documentation"
Review all current documentation to make sure it is correct and fill in holes where needed.

[2021-06-14 14:41] jakebeal opened #349 "MS Word support"
The same backend that works for Google Docs should be generalizable to work with .docx files with an MS Office / Word plug-in as the frontend.

[2021-09-17 20:42] #339 closed